/* ------------------------------

    全体スタイル初期値定義

------------------------------ */
/* ブラウザのデフォルト初期化 */
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-size: 62.5%;
}
/* ブラウザのデフォルト初期化 */
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-size: 1.6em;
}
/* フォント共通定義 */
body, td, th {
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
/* ------------------------------
共通ボタンスタイル
------------------------------ */
.btn-sticky {
    text-decoration: none;
    height: 25px;
    width: 120px;
    line-height: 23px;
    text-align: center;
    color: #2bb6c1;
    border: solid 1px #2bb6c1;
    transition: 0.3s;
    font-size: 1.2em;
}

.btn-sticky:hover {
    background: #2bb6c1;
    color: #fff;
}

.btn-sticky:disabled {
    background-image: none;
    background-color: #ccc;
    border-color: #ccc;
    color: #2bb6c1;
}
/* ボタンマウスオーバー時(アイコンを選択マークに変更) */
input[type=button]:hover,
input[type=submit]:hover,
button:hover{
    cursor: pointer;
}
/* ボタン使用不可の場合はカーソルを通常に変更 */
input[type=button][disabled=disabled]:hover,
input[type=button][disabled=""]:hover,
input[type=submit][disabled=disabled]:hover,
input[type=submit][disabled=""]:hover,
button[disabled=disabled]:hover,
button[disabled=""]:hover {
    cursor: default;
}
/* 下部の隠しフィールド */
#divHidden {
    display: none;
}
/* メニューへボタン */
#WF_ButtonBackToMenu {
    color: #F58E7E;
    border: solid 1px #F58E7E;
}
#WF_ButtonBackToMenu:hover {
    background: #F58E7E;
    color: #fff;
}
/* 一覧先頭ページ、最終ページボタン */
.firstPage, .lastPage {
    width: 24px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin-bottom:-2px;
}
.firstPage {
    background-image: url('../img/先頭頁.png');
}

.lastPage {
    background-image: url('../img/最終頁.png');
}
.firstPage:hover,
.lastPage:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
/* ------------------------------
共通テキストボックススタイル
------------------------------ */
/* 基本設定 テキスト、パスワード、マルチラインテキスト  */
input[type=text],
input[type=password],
input[type=number],
textarea {
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 1px;
    box-sizing: border-box;
    ime-mode: inactive;
    /* color: #000000; /* 黒 */
    /* color: #737373; */ /* 4/14変更前 */
    color: #404040;
    padding: 6px 4px 6px 4px; /* Top Right Bottom Left */
    /* border-color: rgba(176, 176, 276, 0.6); */
    border-color: skyblue;
    border-style: solid;
    border-width: thin;
    border-radius: 3px;
}
/* マルチラインテキスト個別設定 */
textarea {
    height: auto;
    min-height: 16.9em;
    resize: vertical; 
}
input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover,
textarea:hover {
    background-image: linear-gradient(0deg, #B0C4DE, #B0C4DE);
    border-color: #2c628b;
}
/* テキスト、パスワード、マルチラインテキスト フォーカス時 */
input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
textarea:focus {
    border-color: rgba(1,60,65, .5);
    background-image:none;
    //box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
input[type=text][disabled]:hover,
input[type=password][disabled]:hover,
input[type=text][disabled]:hover,
textarea[disabled]:hover {
    background-image: none;
    border-color: skyblue;
    box-shadow:none;
}

/* InputTextのPlaceholderの色 IEだと濃い黒の為、ブラウザごとの差異をなくす
    placeholderのcolorはすべて同一に
    カンマで区切るとワークしないので個別に指定すること
*/
input::placeholder {
    color: #BBBBBB;
    font-style:italic;
}
input:-ms-input-placeholder {
    color: #BBBBBB;
    font-style: italic;
}
input::-ms-input-placeholder {
    color: #BBBBBB;
    font-style: italic;
}
/* chromeのNumberでのスピンボタン非表示 */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* firefoxでのスピンボタン非表示 */
input[type=number] {
    -moz-appearance: textfield;
}
/* 必須マーク表示 */
.requiredMark:after {
    /*color: rgb(255,0,0);*/
    color: #f0134d;
    display: inline-block;
    font-size: 12px !important;
    text-decoration: none !important;
    font-weight: bold;
    content: "\00a0★";
    vertical-align: middle;
    height: 1em;
    margin-top: -0.8em; /* ネガティブマージンを設定し中央に寄ってるように */
    overflow-y: hidden;
}
/* 必須マーク IEのみ印が文字の中央に行かないのでネガティブマージン再設定 */
@media all and (-ms-high-contrast: none) {
    .requiredMark:after {
        margin-top: -0.5em;
    }
}
/* 一覧表内のテキストボックス補正 */
div[data-generated='1'] input[type=text],
div[data-generated='1'] input[type=number],
div[data-generated='1'] input[type=password] {
    width: calc(100% - 4px) !important;
    height: calc(100% - 4px) !important;
}
.WF_TEXTBOX_CSS {
    ime-mode: inactive;
}

.WF_TEXTBOX_CSS[type="password"]::-ms-reveal {
    display: none;
}

/* 左詰め */
.WF_TEXT_LEFT {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    ime-mode: inactive;
}

.WF_TEXT_LEFT_K {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    ime-mode: active;
}

/* 中央 */
.WF_TEXT_CENTER {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.WF_TEXTBOX_CENTER {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    ime-mode: inactive;
    border: 1px solid black;
}

/* 右詰め */
.WF_TEXT_RIGHT {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
}

.WF_TEXTBOX_RIGHT {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    ime-mode: inactive;
    border: 1px solid black;
}

/* テキスト表示情報 */
.WF_TEXT {
    color: #737373;
    font-size: 16px;
    height: 1.3em;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
}

.WF_TEXT_LEFT_LABEL {
    color: blue;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    ime-mode: active;
}

.WF_LABEL_LEFT {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    ime-mode: inactive;
    background-color: rgb(148,138,84);
}
/* **************************** */
/* テキストボックスアイコン関連 */
/* **************************** */
/* 虫眼鏡 */
.boxIconArea, .calendarIconArea, .richTextIconArea {
    position: absolute;
    display: table-cell;
    top: 0;
    left: 0;
    padding-left: 5px;
    width: 16px;
    height: 100%;
    vertical-align: middle;
    z-index: 2;
}
.boxIconArea div {
    display :inline-block;
    width: 16px;
    height: 16px;
    margin-top:calc(100% - 8px); /* 全体の高さ - (画像の高さ ÷ 2) */
    white-space:nowrap;
    overflow:hidden;
    background-image: url('../OIL/img/leftbox.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    filter: alpha(opacity=8);
}
.calendarIconArea div {
    width: 16px;
    height: 16px;
    margin-top:calc(100% - 8px); /* 全体の高さ - (画像の高さ ÷ 2) */
    background-image: url('../OIL/img/calendar.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    filter: alpha(opacity=8);
}
.richTextIconArea div {
    width: 16px;
    height: 16px;
    margin-top:calc(100% - 8px); /* 全体の高さ - (画像の高さ ÷ 2) */
    background-image: url('../OIL/img/richText.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    filter: alpha(opacity=8);
}
/* グリッド内の補正 */
div[data-generated='1'] .boxIconArea div,
div[data-generated='1'] .richTextIconArea div {
    margin-top: calc(100% - 12px);
}
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div,
    .boxIconArea div,
    .richTextIconArea div {
        margin-top: calc(100% - 6px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 8px);
}
/* Edgeグリッド内の補正 */
_:-ms-lang(x)::backdrop, div[data-generated='1'] .boxIconArea div {
    margin-top: calc(100% - 12px);
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .richTextIconArea div {
    margin-top: calc(100% - 8px);
}
/* Edgeグリッド内の補正 */
_:-ms-lang(x)::backdrop, div[data-generated='1'] .richTextIconArea div {
    margin-top: calc(100% - 12px);
}
.boxIconArea div:hover,
.calendarIconArea div:hover,
.richTextIconArea div:hover {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);
}
input[type=text].boxIcon,
input[type=text].calendarIcon,
input[type=text].richTextIcon,
input[type=text].boxIcon,
input[type=text].calendarIcon,
input[type=number].boxIcon,
input[type=number].calendarIcon {
    padding-left: 25px;
}
input[type=text][disabled].boxIcon,
input[type=text][disabled].calendarIcon,
input[type=text][disabled].richTextIcon,
input[type=number][disabled].boxIcon,
input[type=number][disabled].calendarIcon,
input[type=text][readonly].boxIcon:not(.iconOnly),
input[type=text][readonly].calendarIcon:not(.iconOnly),
input[type=text][readonly].richTextIcon:not(.iconOnly),
input[type=number][readonly].boxIcon:not(.iconOnly),
input[type=number][readonly].calendarIcon:not(.iconOnly) {
    padding-left: 0.3em;
}
div[data-generated='1'] input[type=text][readonly]:not(.iconOnly) {
    background-color: rgb(240, 240, 240);
    pointer-events:none;
}
/* ------------------------------

    擬似フレーム　スタイル定義

------------------------------ */
/* 全要素をくくるdiv */
#divContainer {
    position: relative;
    min-height: 100%;
    height: auto !important; /* min-heightがないブラウザの対処 */
    height: 100%;
}
/* ******************** */
/* 共通ヘッダースタイル */
/* ******************** */
/* ヘッダー全体ボックス(タイトル部分) */
#titlebox {
    position: fixed;
    height: 2.4em;
    min-width: 600px;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: rgb(217,222,228);
}
/* 画面ID、タイトル等各文言を格納する表定義 */
#tblTitlebox {
    /* table-layout: fixed; */
    width: 100%;
    height: 2.4em;
    border-collapse: collapse;
    border: 0;
    overflow: hidden;
    border-spacing: 0;
}
/* 表内文言の共通定義個別は次のスタイル定義 */
#tblTitlebox td {
    padding-left: 2px;
    padding-right: 2px;
    font-size: small;
    color: #2A3F54;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    border-spacing: 0;
    overflow: hidden;
}
#tblTitlebox tr:nth-child(1) td:nth-child(4),
#tblTitlebox tr:nth-child(2) td:nth-child(2){
    height:1.2em;
}
/* 画面ID */
#tblTitlebox tr:nth-child(1) td:nth-child(1),
#tblTitlebox tr:nth-child(2) td:nth-child(1){
    padding-left:10px;
    vertical-align: top;
    width: 180px;
}

/* 画面名称 */
#tblTitlebox tr:nth-child(1) td:nth-child(2) {
    font-size: x-large;
    font-weight:900;
    vertical-align: middle;
    text-align: center;
    width:100%;
}
#WF_TITLETEXT {
    overflow:hidden;
    width:100%;
}
#WF_TITLETEXT::before {
    width: 100px;
    height: 28px;
    margin-bottom:0px;
    margin-right:-20px;
    background-image: url(../img/oillogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
}
#tblTitlebox tr:nth-child(1) td:nth-child(2)
#tblTitlebox tr:nth-child(1) td:nth-child(3) {
    vertical-align:top;
    text-align:left;
    width:13em;
}
#tblTitlebox tr:nth-child(2) td:nth-child(2) {
    text-align: left;
}
/* 右開閉アイコン */
#tblTitlebox tr:nth-child(1) td:nth-child(4) {
    width:32px;
}
/* 画面全体ヘッダーの右ボックス表示ボタンスタイル */
#divShowRightBox {
    width: 100%;
    height: 100%;
}
#rightb {
    display: block;
    right: 2px;
    bottom: 2px;
    width: 32px;
    height: 30px;
    background-image: url('../img/right.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    filter: alpha(opacity=5);
}
#rightb:hover{
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);
}
/* 新しいタブ */
#spnOpenNewTab {
    font-weight:bold;
    color:darkcyan ;
    cursor:pointer;    
}
#spnOpenNewTab:hover {
    color:#ff7474;
    text-decoration: underline;
}

/* ********************** */
/* 共通コンテンツスタイル */
/* ********************** */
/* コンテンツのボックス */
#divContensbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 2.4em; /* ヘッダーBOXのHeightに合わせる*/
    bottom: 1.4em; /* フッターBOXのHeightに合わせる*/
    overflow: auto;
}
/* ********** */
/* フッター部 */
/* ********** */
.footerbox {
    bottom: 0em;
    height: 1.4em;
    left: 0em;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
    vertical-align: middle;
    z-index: 30;
}
/* フッターメッセージ情報 */
.WF_MESSAGE {
    display: inline-block;
    margin-left: 1.5em;
    height: 100%;
    overflow: hidden;
    color: blue;
    font-size: small;
    vertical-align: middle;
}
#WF_HELPIMG {
    display: inline-block;
    position: fixed;
    right: 2px;
    bottom: 2px;
    height: 17px;
    width: 17px;
    background-image: url('../img/ヘルプ.jpg');
    background-repeat: no-repeat;
    z-index: 1;
    opacity: 0.65;
    filter: alpha(opacity=65);
}
/* ?ボタンマウスオーバー時 */
#WF_HELPIMG:hover {
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);
}
/* ******************************** */
/* ボタン配置スタイル               */
/* ******************************** */
/* ボタンを配置する箱 */
.actionButtonBox {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-wrap: nowrap; /* 小さくリサイズしても折り返さない設定 */
    white-space: nowrap; /* 小さくリサイズしても折り返さない設定 */
    align-items: center;
}
/* 左寄せの箱 */
.actionButtonBox .leftSide {
    box-sizing: border-box;
    margin-right:2px;
}
/* 右寄せの箱 */
.actionButtonBox .rightSide {
    margin-left: auto; /* 右に寄せる為マージンで埋める */
    box-sizing: border-box;
}
.actionButtonBox .btn-sticky{
    min-width:5em;
    width:auto;
    padding-left:5px;
    padding-right:5px;
}
/* ******************************** */
/* 条件画面設定                     */
/* ******************************** */
/* 全体の検索ボックス */
.searchbox {
    padding: 5px;
    width: 100%;
    min-width: 460px;
    background-color: rgb(255,255,255);
    box-sizing: border-box;
}
/* 検索ボックス内の入力ボックス */
.searchbox .inputBox {
    width:auto;
    margin-left:calc(50% - 200px);
    
    text-align: center;
}
/* 各入力ボックス(項目名、コード、文言） */
.searchbox .inputItem {
    display:flex;
    flex-wrap:wrap;
    white-space: nowrap;
    vertical-align :middle;
    margin-bottom: 10px; /* 入力文言ごとの下余白 */
}
/* 各入力ボックス(名称） */
.searchbox .inputItem a:nth-child(1) {
    text-align:left;
    width:100%;
}
.searchbox .inputItem a:nth-child(2) {
    display:block;
    text-align:left;
    width:180px;
}
.searchbox .inputItem a:nth-child(2) input[type=text],
.searchbox .inputItem a:nth-child(2) input[type=number]{
    width:calc(100%) !important;
}
/* 文言要素 */
.searchbox .inputItem a:nth-child(2n+1) {
    display:block;
    box-sizing: border-box;
    margin-left:5px;
    vertical-align:middle;
}
.searchbox .inputItem a:nth-child(2n+1) span {
    display:block;
    margin-top:5px;
}

/* 条件画面 チェックボックス */
.searchbox input[type=checkbox] {
    top:0em;
    left:0em;
    width:1.4em;
    height:1.4em;
}

/* 実行画面 ヘッダー部 */
.headerbox {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(217,222,228);
    position: relative;
}

/* 実行画面 明細部 */
.detailbox {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(237,237,237);
    position: relative;
}

/* 実行画面 ヘッダー部のみ */
.headerboxOnly {
    width: 100%;
    min-width:650px;
    min-height:110px;
    overflow: hidden;
    background-color: rgba(240,240,240,0.43);
    height:100%;
    position:relative;
}

/* 実行画面 明細部のみ */
.detailboxOnly {
    width: 100%;
    min-width:640px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    background-color: rgb(237,237,237);

    position: relative;
}
/* 下のあまり分がcontentsBoxの背景になる為対処
    (下に他のコンテンツがあり透明だと浸食されるので注意) */
.detailboxOnly:after {
    position:absolute;
    display:inline-block;
    float:left;
    width:100%;
    height:100vw;
    content:"";
    background-color: rgb(237,237,237);
}
#detailkeybox, #detailbuttonbox {
    padding: 0.5em 2em 0.5em 2em;
}
#detailkeybox {
    width: 100%;
    box-sizing: border-box;
}

#detailkeybox p[id^=KEY_LINE_] {
    min-width:500px;
    display:flex;
    box-sizing: border-box;
    flex-wrap:wrap;
}
/* ************************** */
/* 単票入力欄の列定義         */
/* ************************** */
/* 1項目(名称 文言 列幅) */
#detailkeybox p[id^=KEY_LINE_] > span {
    display:inline-block;
    //min-width:400px;
    margin-bottom:5px;
}
/* 項目名欄(n行目の入力欄の1,4,7,10・・・列に適用するスタイル) */
#detailkeybox p[id^=KEY_LINE_] > span > :nth-child(3n+1) {
    display:inline-block;
    width:14em;
}
/* 入力欄(n行目の入力欄の2,5,8,11・・・列に適用するスタイル) */
#detailkeybox p[id^=KEY_LINE_] > span > :nth-child(3n+2) {
    display:inline-block;
    width:11em;
}
/* 名称欄(n行目の入力欄の3,6,9,12・・・列に適用するスタイル) */
#detailkeybox p[id^=KEY_LINE_] > span > :nth-child(3n+3) {
    display:inline-block;
    width:15.5em;
    margin-right:2px;
}
/* 項目名、テキストボックス構成（n行目2,5,8,11・・・列に適用するスタイル)  
    入力欄 + 名称欄のWidthを足す
*/
#detailkeybox p[id^=KEY_LINE_] > span.colCodeOnly > :nth-child(3n+2) {
    width:24.5em;
    margin-right:2px;
}
/* 左ボックス */
#LF_LEFTBOX {
    /*position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    left: 0em;
    width: 23em;
    height: auto;
    overflow: hidden;
    background-color: rgba(242, 242, 242,1);*/
    display: none;
    padding: 15px;
    width: 24em;
    //height: auto;
    position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    left: 0;
    overflow: auto;
    background-color: rgba(242, 242, 242,1);
    z-index: 20;
}

/* 右ボックス */
#RF_RIGHTBOX {
    position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    right: 0em;
    width: 0em;
    overflow: hidden;
    background-color: gray;
    z-index: 21;
}

/* 右ボックス表示 */
.WF_rightboxSW {
    height: 5%;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    color: white;
    font-size: small;
    vertical-align: middle;
    opacity: 0.5;
}

/* 操作 */
.Operation {
    margin: 0.5em 2em 0.5em 2em; /* Top Right Bottom Left */
    height: 1.5em;
}

#detailkeybox input[type='text'],
#detailkeybox input[type='number'],
#detailkeybox input[type='password'] {
    border-radius: 3px;
}
#detailkeybox input[type='text']:focus,
#detailkeybox input[type='number']:focus,
#detailkeybox input[type='password']:focus{
    border: 1px solid rgba(1,60,65, .5);
    outline: none;
    box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}



/* 右ボックスメモ欄 */
.WF_MEMO {
    font-size: small;
    vertical-align: top;
    text-align: left;
}

.RF_DTLDISP {
    display: none;
}

/* 左リストボックス */
.WF_ListBoxArea {
    margin-top: 5px;
    margin-bottom: 5px;
    height: calc(100% - 8.5em);
    min-height: 100px;
    width: 23.4em;
    overflow: hidden;
    overflow-y: auto;
    color: black;
    border: 1px solid;
    border-color: rgba(176, 176, 276, 0.6);
    background-color: rgba(255, 255, 255, 1);
    font-size: 1em;
    border-radius: 3px;
}

/*カレンダーのスタイルシート*/
#dValue {
    display:none;
}
#calWrap {
    width:100%;
    text-align:center;
}
.calWrap > a {
    margin-top:10px;
    overflow: hidden;
    display:inline-block;
}
#carendabox {
    border: none;
    border-radius: 2px;
}

/* 左リストボックス  カレンダー*/
#Calendar {
    background-color: rgba(153, 102, 0, 0.3);
    font-size: 1em;
    border-radius:5px;
}
.calWrap #altMsg {
    background: rgba(153, 102, 0, 0.3);
    border-radius: 5px;
}
#pnlLeftList {
    margin-top: 10px;
    width: 100%;
    max-width: calc(100% - 2px);
    height: 100%;
    max-height: calc(100% - 75px);
    position: relative;
    overflow: auto;
    //overflow-y:hidden;
    display: flex;
    flex-direction: column;
}
#pnlLeftList div.leftTable {
    position:absolute;
}
#pnlLeftList div.leftTableDataWrapper {
 //flex: 1 1 auto;
 //overflow-y: auto;
    min-height: 0px;
    margin-bottom:5px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction: column;
}

#pnlLeftList div {
    box-sizing:border-box;
}
#pnlLeftList .leftTableHeaderWrapper {
    position :sticky ;
    top:0;
    background-color:rgb(242,242,242);
}
#pnlLeftList .leftTableHeaderWrapper > div {
    background-color:rgb(242,242,242);
}
#pnlLeftList .leftTable > div > div {
    display:flex;
    flex-wrap:nowrap;
}
/* 各セルの設定 */
#pnlLeftList .leftTable > div > div > div {
    flex-grow: 0;
    flex-shrink: 0;
    border:1px solid #a8b7c5;
    border-bottom:0px; /* ボーダーの重なり抑止 */
    border-right:0px;
    word-break:break-all;
    padding:2px;
    min-height:25px;
}
#pnlLeftList .leftTableDataRow > div {
   /* height:30px; */
    display :flex;
    align-items:stretch;
}
#pnlLeftList .leftTableDataRow > div > span {
    display:flex;
    align-items:center;
    height:100%;
}
/* ボーダーの重なりで端のボーダーは表示 */
#pnlLeftList .leftTable > div > div > div:last-child {
    border-right: 1px solid #a8b7c5;
    margin-right: 10px;
}
/* ボーダーの重なりで端のボーダーは表示 */
#pnlLeftList .leftTable > div:last-child > div.lastRow > div {
    border-bottom:1px solid #a8b7c5;
}
/* 表ヘッダーセルの設定 */
#pnlLeftList .leftTable > div > div.leftTableHeader > div {
    text-align:center;
    align-items: center;
    border-color:#3c6690;
    background: linear-gradient(#829ebc,#225588);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    color:white;
}
/* 各丸 */
#pnlLeftList .leftTable > div > div.leftTableHeader > div:first-child{
    border-top-left-radius:5px;
}
#pnlLeftList .leftTable > div > div.leftTableHeader > div:last-child{
    border-top-right-radius:5px;
}
#pnlLeftList .leftTable > div:last-child > div.lastRow > div:first-child {
    border-bottom-left-radius:5px;
}
#pnlLeftList .leftTable > div:last-child > div.lastRow > div:last-child {
    border-bottom-right-radius: 5px;
}
/* データ行セルの設定 */
#pnlLeftList .leftTableDataRow:hover > div {
    
}
#pnlLeftList .leftTableDataRow:hover > div {
    background-color:#9E82BC;
    //background: linear-gradient(#9E82BC,#F1EEF6);
    cursor:pointer;
    color:white;
}
/* 左テーブルのソート設定 */
#pnlLeftList .leftTableHeader > div > span {
    display: block;
    text-decoration:none;
}
#pnlLeftList .leftTableHeader > div > span:hover {
    text-decoration:underline;
    color:palevioletred;
    cursor:pointer;
}
#pnlLeftList .leftTableHeader > div > span.sortDesc:after,
#pnlLeftList .leftTableHeader > div > span.sortAsc:after{
    display:inline-block;
    text-decoration:none !important;
    color:white;
    text-decoration-color:rgba(0,0,0,0);
    white-space: pre-wrap;
    overflow-y: hidden;
    height: 13.5px;
}
#pnlLeftList .leftTableHeader > div > span.sortDesc:after {
    content:"▼";
}
#pnlLeftList .leftTableHeader > div > span.sortAsc:after {
    content:"▲";
}
#pnlLeftList .leftTableHeader > div > span.sortDesc:after,
#pnlLeftList .leftTableHeader > div > span.sortAsc:after,
#pnlLeftList .leftTableHeader > div > span.sortDesc:after:hover,
#pnlLeftList .leftTableHeader > div > span.sortAsc:after:hover {
    text-decoration:none !important;
}

/* 左テーブル */
/*#pnlLeftList_H {
    position: fixed;
    top: 5.5em;
    left: 2em;
}
#pnlLeftList_D {
    position: fixed;
    top: 8.5em;
    left: 2.3em;
    height: 500px;
    overflow-y: scroll;
    font-size: 1.4rem;
}*/
/* 左ボックス拡張機能 */
#WF_LeftBoxSortType {
    width: 300px;
}

#WF_LEFTBOXFILTER {
    width: 19em;
    margin-right:5px;
    //height: 2.1em;
}

#WF_buttonFilter,
#btnSearchLeftTable {
    width: 60px;
    min-height: 22px;
}
div.leftTableSearch {
    margin-top:5px;
    width:100%;
}
#txtSearchLeftTable {
    width: calc(100% - 100px);
}
#divPnlListArea_HLShowHideDetailBox {
    color: crimson;
}

/* TODO 他の項目のホバーイベントが機能しなくなる? */
/*#divPnlListArea_HLShowHideDetailBox:hover {
    text-decoration:underline;
    cursor:pointer;
}*/

#divPnlListArea_HLShowHideDetailBox.showDetail:before {
    content: "SHOW INPUT";
}

#divPnlListArea_HLShowHideDetailBox.hideDetail:before {
    content: "HIDE INPUT";
}
/* ************************ */
/* 上下構えの共通定義       */
/* ************************ */
/* ******************* */
/* 上部入力エリア共通  */
/* ******************* */
.commonHeaderInput input[type=text],
.commonHeaderInput input[type=number] {
    font-size: 13.5px;
}
.commonHeaderInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}
/* 1項目のサイズ */
.commonHeaderInput > span {
    display: inline-block;
    width: 280px;
    white-space: nowrap;
    margin: 1px;
}
.commonHeaderInput > span > a {
    display: inline-block;
    vertical-align: middle;
    padding: 1px;
}
.commonHeaderInput {
    width: 1177px;
}

/* ヘッダー入力欄の項目名 */
.commonHeaderInput > span > a:nth-child(1) {
    width:115px;
}
.commonHeaderInput > span > a:nth-child(2) {
    width:155px;
}

/* ************************ */
/* 一覧表                 */
/* ************************ */
.listWrapper {
    position: relative;
    height: calc(100% - 48px);
    width: calc(100% - 20px);
    padding-bottom: 12px;
    margin-left: 20px;
}
#pnlListArea {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    position: relative;
}

#pnlListArea td, #pnlListArea th {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
}
div[data-generated="1"] td, div[data-generated="1"] th {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ------------------------------
   CS0013ProfViewでの生成Table
   スタイル定義
   (IDで定義されたスタイルが勝ちます)
   ------------------------------ */
div[data-generated="1"] {
    /* color:red; */
    letter-spacing: -.4em;
    /*margin-left:10px;
    margin-right:10px;
    height:calc(100% - 120px);
    min-height:180px;
    position:relative;
    overflow:hidden;*/
}

div[data-generated="1"] span.listSort {
    cursor: pointer;
}
/* TODO 他の項目のホバーイベントが機能しなくなる? */
/*div[data-generated="1"] span.listSort:hover {
    color:darkorange;
}*/

div[data-generated="1"] span.listSort.ASC:after {
    width: 16px;
    height: 16px;
    content: "";
    display: table-cell;
    background-image: url('../Images/ascending.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

div[data-generated="1"] span.listSort.DESC:after {
    width: 16px;
    height: 16px;
    display: table-cell;
    content: "";
    background-image: url('../Images/descending.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
}

div[data-generated="1"] div {
    /* color:red; */
    letter-spacing: -.4em;
    border-color: white;
    border-width: 0px;
}

div[data-generated="1"] div table {
    /* color: red; */
    letter-spacing: normal;
    border-color: white;
    border-width: 0px;
}

/* 左(固定ヘッダーテーブル用)DIV */
div[data-generated="1"] div[id$="_HL"] {
    left: 0px;
    top: 0px;
    position: absolute;
}

/* 右(可変ヘッダーテーブル用)DIV */
div[data-generated="1"] div[id$="_HR"] {
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
}

/* 左(固定データテーブル用)DIV */
div[data-generated="1"] div[id$="_DL"] {
    left: 0px;
    top: 26px;
    /* top:48px; */
    bottom: 0px;
    /* width:auto;  固定列の幅に合わされる */
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 3;
}

/* 右(可変データテーブル用)DIV */
div[data-generated="1"] div[id$="_DR"] {
    /* left:538px; */ /* 固定列の幅に合わせ共通処理でインラインで設定 */
    right: 0px;
    top: 26px;
    /* top:48px; */
    bottom: 0px;
    width: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    z-index: 2;
}
/* 左右データ・ヘッダーを格納するテーブルスタイル */
div[data-generated="1"] div[id$="_HL"] table,
div[data-generated="1"] div[id$="_HR"] table,
div[data-generated="1"] div[id$="_DR"] table,
div[data-generated="1"] div[id$="_DL"] table {
    border: 1px solid white;
    border-image: none;
    width: 100%;
    height: 24px;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 1.2rem;
}
/*div[data-generated="1"] div[id$="_HL"] table,
  div[data-generated="1"] div[id$="_HR"] table {
    height:48px;
}*/
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr {
    background-color: rgb(149,179,215);
    color: rgb(0, 32, 96);
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr {
    background-color: rgb(22,54,92);
    color: white;
}

/* 左データ行スタイル */
div[data-generated="1"] div[id$="_DL"] table tr {
    background-color: rgb(149,179,215);
    color: rgb(0, 32, 96);
}

/* データ行スタイル */
div[data-generated="1"] div[id$="_DR"] table tr,
div[data-generated="1"] div[id$="_DL"] table tr {
    background-color: white;
    color: black;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd),
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) {
    background-color: #C8C8E8;
}

/* セルの設定(共通) */

div[data-generated="1"] td,
div[data-generated="1"] th {
    border: 1px solid White;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* セルの設定(共通) */
div[data-generated="1"] div[id$="_HL"] td,
div[data-generated="1"] div[id$="_HL"] th,
div[data-generated="1"] div[id$="_HR"] td,
div[data-generated="1"] div[id$="_HR"] th {
    border: 1px solid White;
    /* word-break:break-all; */
    word-wrap: break-word !important;
    white-space: normal !important;
    text-overflow: ellipsis;
}
    /*div[data-generated="1"] td:before,

div[data-generated="1"] th:before{

    content:"\00A0";

    display:inline-block;

    width:0.9px !important;

    white-space:nowrap;

}*/
/* 表内の●補正、他の方法に変更する場合注意 */
div[data-generated='1'] tr td > div[style] {
    overflow:hidden;
    max-height:24px;
    margin-top:-3px;
}
/* ******************** */
/* テーブル表内のマーク */
/* ******************** */
div[data-generated='1'] .safe,
div[data-generated='1'] .warning,
div[data-generated='1'] .caution{
    overflow:hidden;
    max-height:24px;
    margin-top:-3px;
    text-align: center;
    font-size: 22px;
}
/* これ色設定いずれ不要：文字を表示しないので */
div[data-generated='1'] .safe {
    color:green
}
div[data-generated='1'] .warning {
    color:yellow
}
div[data-generated='1'] .caution {
    color:red
}
/* 各レベルニ応じた画像設定 */
/* SAFE用(旧緑●)の設定いずれ、スタイル全消して表示しない */
div[data-generated='1'] .safe:after {
    /*margin-top:2px;
    width: 24px;
    height: 24px;
    content: "";
    display: block;
    background-image: url('../oil/img/safe.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left:calc(50% - 12px);*/ /* 中央寄せに、全体50%横幅 - (このWidth / 2) */
}
/* warning用(旧黄●)の設定 */
div[data-generated='1'] .warning:after {
    margin-top:2px;
    width: 24px;
    height: 24px;
    content: "";
    display: block;
    background-image: url('../oil/img/warning.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left:calc(50% - 12px); /* 中央寄せに、全体50%横幅 - (このWidth / 2) */
}
/* after用(旧赤●)の設定 */
div[data-generated='1'] .caution:after {
    margin-top: 3px;
    width: 21px;
    height: 21px;
    content: "";
    display: block;
    background-image: url('../oil/img/caution.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: calc(50% - 10.5px); /* 中央寄せに、全体50%横幅 - (このWidth / 2) */
}
div[data-generated='1'] input[type=text],
div[data-generated='1'] input[type=number]{
    height: 1.6em;
    font-size: 13.5px;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
}
/* ------------------------------
CS0013ProfViewでの生成Tableの
SCROLL TYPE個別設定
------------------------------ */
/* SCROLLTYPE=1(縦のみ) */
div [data-generated="1"][data-scrolltype="1"] div[id$="_HR"] {
    right: 16px;
}
div [data-generated="1"][data-scrolltype="1"] div[id$="_DL"] {
    bottom: 0px;
}
div [data-generated="1"][data-scrolltype="1"] div[id$="_DR"] {
    overflow-y: scroll;
}
/* SCROLLTYPE=2(横のみ) */
div[data-generated="1"][data-scrolltype="2"] div[id$="_HR"] {
    /* 初期値と同値 */
}
div [data-generated="1"][data-scrolltype="2"] div[id$="_DL"] {
    bottom: 16px;
}
div [data-generated="1"][data-scrolltype="2"] div[id$="_DR"] {
    overflow-x: scroll;
}
/* SCROLLTYPE=3(縦横固定) */

div[data-generated="1"][data-scrolltype="3"] div[id$="_HR"] {
    right: 16px;
}

div [data-generated="1"][data-scrolltype="3"] div[id$="_DL"] {
    bottom: 16px;
}

div [data-generated="1"][data-scrolltype="3"] div[id$="_DR"] {
    overflow-x: scroll;
    overflow-y: scroll;
}

/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 green
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="green"] {
    background-color: #3F9877;
}
/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="green"] {
    background-color: #3F9877;
}
/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="green"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="green"] {
    background-color: #91BA58;
}
/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 red
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="red"] {
    background-color: #942138;
}
/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="red"] {
    background-color: #942138;
}
/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="red"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="red"] {
    background-color: #B92946;
}
/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 orange
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="orange"] {
    background-color: #FF4700;
}
/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="orange"] {
    background-color: #FF4700;
}
/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="orange"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="orange"] {
    background-color: #FFA500;
}
/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 purple
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="purple"] {
    background-color: #420039;
}
/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="purple"] {
    background-color: #420039;
}
/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="purple"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="purple"] {
    background-color: #CDB2CD;
}
/* ------------------------------
共通表マウスホバー時の色調整
------------------------------ */
div[data-generated="1"] tr.hover td,
div[data-generated="1"] tr.hover th {
    background-color: #FFDADA !important;
}
/* ------------------------------
受注情報有の場合の設定
------------------------------ */
div[data-generated="1"] tr.hasOrderInfoValue td,
div[data-generated="1"] tr.hasOrderInfoValue th {
    background-color: indianred;
}
div[data-generated="1"] tr.hasOrderInfoValue.hover td,
div[data-generated="1"] tr.hasOrderInfoValue.hover th {
    background-color: #32a3a3 !important;
}
/* ************************ */
/* タブ下部の入力エリア     */
/* ************************ */
/* 詳細の一覧表 */
span[class^="WF_DViewRep"][class$="_Area"] {
    display: block;
    position: fixed;
    bottom: 1.5em;
    left: 5px;
    right: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border: 2px solid blue;
    background-color: rgb(220,230,240);
    z-index: 2;
}

/* 詳細一覧表内のテキストボックス */

span[class^="WF_DViewRep"] table input[type=text],
span[class^="WF_DViewRep"] table input[type=number] {
    width: 15rem;
    height: 1.6rem;
    visibility: hidden;
}



span[class^="WF_DViewRep"] table {
    width: 100%;
    margin-left: 15px;
    margin-top: 5px;
}



span[class^="WF_DViewRep"] table td {
    padding: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}



span[class^="WF_DViewRep"] table td:nth-child(1) {
    display: none;
}

/* 詳細一覧表内の項目名称 */

span[class^="WF_DViewRep"] table td:nth-child(7n+2) span {
    width: 10rem;
    display: inline-block;
}

/* 詳細一覧表内の必須記号 */

span[class^="WF_DViewRep"] table td:nth-child(7n+3) span {
    width: 0.5rem;
    display: inline-block;
}

/* 詳細一覧表内の項目（非表示） */

span[class^="WF_DViewRep"] table td:nth-child(7n+4) {
    display: none;
}

/* 詳細一覧表内の項目（空白） */

span[class^="WF_DViewRep"] table td:nth-child(7n+6) span {
    width: 1px;
    display: inline-block;
}

/* 詳細一覧表内の項目（値名称） */

span[class^="WF_DViewRep"] table td:nth-child(7n+7) span {
    width: 10rem;
    display: inline-block;
    color: blue;
}

/* 詳細一覧表内の項目（空白） */

span[class^="WF_DViewRep"] table td:nth-child(7n+1) span {
    width: 0.5rem;
    display: inline-block;
}



#pnlListArea td, #pnlListArea th {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
}



#detailbox td, #detailbox th, #detailbox span {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
}
/*  ----------------------------------  */
/* タイル選択カスタムコントロールの設定 */
/*  ----------------------------------  */
.grc0001Wrapper input[type=checkbox],
.grc0001Wrapper input[type=radio] {
    display: none;
}
.grc0001Wrapper input[type=checkbox] + label,
.grc0001Wrapper input[type=radio] + label{
    display:flex;
    width:130px;
    padding-left:5px;
    padding-right:5px;
    height:40px;
    text-align :center;
    justify-content:center;
    align-items:center;
    color:#737373;
    border:2px solid rgb(91,155,213);
    border-radius:5px;
    margin-right:5px;
    margin-bottom:5px;
    font-weight:bold;
    position:relative;
}

.grc0001Wrapper input[type=checkbox]:checked + label,
.grc0001Wrapper input[type=radio]:checked + label{
    background-color:rgb(157,195,230);
    color:rgb(255,255,255);
}
.grc0001Wrapper input[type=checkbox]:checked + label:before,
.grc0001Wrapper input[type=radio]:checked + label:before{
    position:absolute;
    left:2px;
    content:"✔";
    color:red;
}
.grc0001Wrapper input[type=checkbox]:not(:disabled) + label:hover,
.grc0001Wrapper input[type=radio]:not(:disabled) + label:hover{
    cursor:pointer;
    background-color:rgba(157,195,230,0.5);
    color:#737373;
}
.grc0001Wrapper ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:450px;
}

.grc0001Settings {
    display: none;
}

/*  ------------------------------  */
/* ロード時のウェイトスタイル       */
/*  ------------------------------  */
/* 半透明の大枠 */
#comloading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    cursor: wait;
}
/* 以下アニメーション設定 */
@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    45% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.comloadingmsg {
    margin-top: 15%;
}

.comloadingmsg > div:nth-child(1) {
    -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.comloadingmsg > div:nth-child(2) {
    -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.comloadingmsg > div:nth-child(3) {
    -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
    animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.comloadingmsg > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
}
/* ダミーでフォーカスを合わせるテキスト */
#comlodingtextbox {
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    z-index: 0;
}
/* ------------------------------
共通メッセージボックススタイル
------------------------------ */
/* マルチラインテキスト入力ポップアップ */
#pnlCommonMessageWrapper {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
}

#pnlCommonMessageContents {
    position: fixed;
    top: 100px;
    text-align: left;
    min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius:10px;
}

#pnlCommonMessageTitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 20px;
    //background-color: #8BACCD;
    background: linear-gradient(to bottom, #8BACCD, rgb(240,240,240));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pnlCommonMessageTitle input[type=button] {
    min-width: 70px;
    margin-right: 10px;
    padding:2px;
}

#pnlCommonMessageText {
    padding: 10px 10px 15px 15px;
    min-height: 50px;
}

#pnlCommonMessageText #lblCommonMessageText[data-naeiw="I"]:before,
#pnlCommonMessageText #lblCommonMessageText[data-naeiw="N"]:before {
    width: 32px;
    height: 32px;
    content: "";
    display: table-cell;
    background-image: url('../oil/img/iconInfo.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

#pnlCommonMessageText #lblCommonMessageText[data-naeiw="W"]:before {
    width: 32px;
    height: 32px;
    content: "";
    display: table-cell;
    background-image: url('../oil/img/w_cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

#pnlCommonMessageText #lblCommonMessageText[data-naeiw="E"]:before {
    width: 60px;
    height: 60px;
    content: "";
    display: table-cell;
    background-image: url('../oil/img/e_cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

#pnlCommonMessageText #lblCommonMessageText[data-naeiw="Q"]:before {
    width: 30px;
    height: 30px;
    content: "";
    display: table-cell;
    background-image: url('../oil/img/q_cat.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
}

#pnlCommonMessageText #lblCommonMessageText {
    display: table-cell;
    word-break: break-all;
    min-width: 300px;
    max-width: 800px;
    padding-top: 5px;
    vertical-align: middle;
}
/* ------------------------------
共通リッチテキストボックススタイル
(現状マルチラインテキスト)
------------------------------ */
#pnlCommonRichTextWrapper {
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    opacity: 1;
    z-index: 9998;
    background-color: rgba(55, 55, 55, 0.6);
    vertical-align: middle;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap :nowrap;
}
#pnlCommonRichTextContents {
    //position: fixed;
    //top: 100px;
    text-align: left;
    //min-width: 500px;
    left: calc(50% - 250px);
    background-color: rgb(240,240,240);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    border-radius: 10px;
}
#pnlCommonRichTextTitle {
    width: calc(100% - 20px);
    font-weight: bold;
    padding: 10px;
    height: 42px;
    //background-color: #8BACCD;
    background: linear-gradient(to bottom, #8BACCD, rgb(240,240,240));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#pnlCommonRichTextTitleIcon {
    width: 24px;
    height: 24px;
    margin-right:10px;
    background-image: url('../OIL/img/richText.png');
    background-repeat: no-repeat;
    background-size: contain;
    display:inline-block;
    vertical-align :middle;
}
#pnlCommonRichTextTitle input[type=button] {
    font-size: 15px;
    min-width: 100px;
    margin-right: 10px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
    overflow: hidden;
    vertical-align: middle;
}

#pnlCommonRichTextArea {
    padding: 0 10px 15px 15px;
    min-height: 120px;
}
#txtCommonRichText {
    font-size: 19px;
    min-width: 480px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    border-radius: 5px;
    resize: both;
    max-height: calc(100vh - 100px);
    max-width: calc(100vw - 60px);
}
/* ------------------------------
    月選択ポップアップスタイル
------------------------------ */
.commonMonthWrapperPicker {
    position:relative;
    display:inline-block;
}
.commonMonthListWrapper {
    position:absolute;
    left:0;
    top:20px;
    //z-index:10;

}
.commonMonthListWrapper > div {
    position: fixed;
    //z-index:10;
    width:200px;
    margin:5px;
    border-radius:5px;
    border:1px solid gray;
    padding:5px;
    overflow:hidden;
    color:black;
    background-color:rgba(255,255,255,0.85);
}
.commonMonthListWrapper span {
    display:inline-block;
    -ms-user-select: none;
    user-select: none;
}
.commonMonthListHeader {
    margin:5px;
}
.commonMonthListHeader span:nth-child(1),
.commonMonthListHeader span:nth-child(3){
    border:1px solid gray;
    border-radius:5px;
    padding:2px;
    padding-bottom:0;
    width:20px;
    height:20px;
    line-height:20px;
    vertical-align :middle;
    text-align:center;
    font-weight:bold;
}
.commonMonthListHeader span:nth-child(1):hover,
.commonMonthListHeader span:nth-child(3):hover{

    border:1px solid #2bb6c1;
    background-color:#2bb6c1;
    color:#fff;
    cursor:pointer;
}
.commonMonthListHeader span:nth-child(2) {
    width:140px;
    vertical-align :middle;
    text-align:center;
}
.commonMonthPickerListBody {
    margin-top: 2px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.commonMonthPickerListBody span {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
    //padding-bottom:0;
    width: 41px;
    margin: 1px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}
.commonMonthPickerListBody span.selected {
    background-color: lightgray;
}
.commonMonthPickerListBody span:hover {
    border: 1px solid #2bb6c1;
    background-color: #2bb6c1;
    color: #fff;
    cursor: pointer;
}

#spnCommonMonthPickerDispYear:before {
    content: attr(data-dispyear) "年";
}
#divCommonMonthListBody .monthTile:before {
    content: attr(data-month) "月";
}

