/* ------------------------------
    全体スタイル初期値定義
------------------------------ */

/* ブラウザのデフォルト初期化 */
* {
    margin:0;
    padding:0;
}

html {
    font-size:62.5%;
}

/* ブラウザのデフォルト初期化 */
body {
    margin:0;
    padding:0;
    overflow:auto;
    font-size:1.6em;
}

div {
    position:relative;
}

/* ------------------------------
    擬似フレーム　スタイル定義
------------------------------ */

/* タイトル部分 */
#titlebox {
    width: 100%;
    margin: 0 auto 0 auto;
    top: 0px;
    height: 10em;
    left: 0em;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
    text-align: center;
}
.titlebox_TEST {
    top: 0px;
    left: 0px;
    height: 2.4em;
    width: 100px;
    margin: 0 auto 0 auto;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
    text-align: center;
}
.titlebox_HONSHA {
    top: 0px;
    left: 0px;
    height: 2.4em;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
    text-align: center;
}

/* 条件画面 */
.searchbox {
    top: 2.4em;
    bottom: 1.4em;
    left:0em;
    width:100%;
    position:fixed;
    overflow:hidden;
    background-color:rgb(220,230,240);
}

/* 実行画面 ヘッダー部 */
.headerbox {
    top: 2.4em;
    left: 0em;
    height: calc(-2.4em - 18.4em - 1.4em + 100%);
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
}

/* 実行画面 明細部 */
.detailbox {
    top: calc(-1.4em - 18.4em + 100%);
    bottom: 1.4em;
    left: 0em;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(237,237,237);
}

/* 実行画面 ヘッダー部のみ */
.headerboxOnly {
    top:2.4em;
    bottom: 1.4em;
    left:0em;
    width:100%;
    position:fixed;
    overflow:hidden;
    background-color:rgb(220,230,240);
}

/* 実行画面 明細部のみ */
.detailboxOnly {
    top: 2.4em;
    bottom: 1.4em;
    left: 0em;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(237,237,237);
}

/* フッター部 */
.footerbox {
    bottom: 0em;
    height: 1.4em;
    left: 0em;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(217,222,228);
}

/* 左ボックス */
#LF_LEFTBOX {
    position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    left: 0em;
    width: 0em;
    overflow: hidden;
    background-color: gray;
    z-index: 20;
}

/* 右ボックス */
#RF_RIGHTBOX {
    position: fixed;
    top: 2.4em;
    bottom: 1.4em;
    right: 0em;
    width: 0em;
    overflow: hidden;
    background-color: gray;
    z-index: 21;
}

/* ------------------------------
    画面共通項目 スタイル定義
------------------------------ */

/* 画面ID */
.WF_TITLEID {
    height: 1em;
    width: 18em;
    overflow: hidden;
    position: fixed;
    left: 1em;
    color: #2A3F54;
    font-size: small;
    vertical-align: middle;
    text-align: left;
}

/* 画面名称 */
.WF_TITLETEXT {
    height: 30px;
    width: 100%;
    position: fixed;
    top: 3px;
    left: 3em;
    color: #2A3F54;
    overflow: hidden;
    font-size: x-large;
    vertical-align: middle;
    text-align: center;
}

/* 会社名 */
.WF_TITLECAMP {
    height: 30px;
    width: 18em;
    overflow: hidden;
    position: fixed;
    top: 2px;
    left: 82%;
    color: #2A3F54;
    font-size: small;
    vertical-align: middle;
    text-align: left;
}

/* 現在日時 */
.WF_TITLEDATE {
    height: 15px;
    width: 13em;
    overflow: hidden;
    position: fixed;
    top: 18px;
    left: 82%;
    color: #2A3F54;
    font-size: small;
    vertical-align: middle;
    text-align: left;
}

/* 右ボックス表示 */
.WF_rightboxSW {
    height:6%;
    width:8%;
    overflow:hidden;
    position:fixed;
    top:0px;
    right:0px;
    color:white;
    font-size:small;
    vertical-align:middle;
}

/* 操作 */
.Operation {
    margin-left:2em;
    margin-top:0.5em;
    height:1.5em;
}

.Operation a {
    position:relative;
    margin:0em 0.7em 0em 0em;
    top:-0.4em;
}

/* 明細部 ボタン */
#detailbuttonbox {
    z-index:10;
}

#detailbuttonbox a {
    position:relative;
    margin:0em 0em 0em 0.2em;
    top:0.5em;
    left:48.8em;
}

/* 明細部 Key項目 */
#detailkeybox {
    top:-1em;
    z-index:1;
}

#detailkeybox p {
    position:relative;
    margin:0em 0em 0.2em 0em;
    height:1.4em;
    left:3em;
}

#detailkeybox a {
    position:relative;
    margin:0em 1em 0em 0em;
}

/* テキストボックス */
.WF_TEXTBOX_CSS {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    ime-mode:inactive;
    border:1px solid black;
}

/* 左詰め */
.WF_TEXT_LEFT {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    ime-mode:inactive;
}

.WF_TEXT_LEFT_K {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    ime-mode:active;
}

/* 中央 */
.WF_TEXT_CENTER {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
}
.WF_TEXTBOX_CENTER {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    ime-mode: inactive;
    border: 1px solid black;
}

/* 右詰め */
.WF_TEXT_RIGHT {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:right;
    overflow:hidden;
}
.WF_TEXTBOX_RIGHT {
    color: black;
    font-size: 1.4rem;
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    ime-mode: inactive;
    border: 1px solid black;
}

/* テキスト表示情報 */
.WF_TEXT {
    color:blue;
    font-size:small;
    height:1.3em;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
}

.WF_TEXT_LEFT_LABEL {
    color:blue;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    ime-mode:active;
}

.WF_LABEL_LEFT {
    color:black;
    font-size:1.4rem;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    ime-mode:inactive;
    background-color:rgb(148,138,84);
}

/* フッターメッセージ情報 */
.WF_MESSAGE {
    height:16px;
    overflow:hidden;
    position:fixed;
    left:1.5em;
    right:1.5em;
    color:blue;
    font-size:small;
    vertical-align:middle;
}

/* 右ボックスメモ欄 */
.WF_MEMO {
    font-size:small;
    vertical-align:top;
    text-align:left;
}

.RF_DTLDISP {
    display:none;
}

/* 左ボックスボタン */
.button {
    position: relative ;
    top: 1em;
    left: 0.8em;
    width: 25em;
    height:5em;
}

.LF_ListArea {
    position: relative;
}

/* 左リストボックス */
.WF_ListBoxArea {
    position: relative;
    top: 1.5em;
    left: 1.2em;
    height: calc(100% - 12em);
    width: 25em;
    overflow: hidden;
    overflow-y: auto;
    color: black;
    z-index: 30;
    border: 2px solid blue;
    background-color: #ccffff;
}

/* 左テーブル */
#pnlLeftList_H {
    position:fixed;
    top:5.5em;
    left:2em;
}

#pnlLeftList_D {
    position:fixed;
    top:8.5em;
    left:2.3em;
    height:500px;
    overflow-y:scroll;
    font-size:1.4rem;
}

/* 左ボックス拡張機能 */
#WF_LeftBoxSortType {
    width:300px;
}

#WF_LEFTBOXFILTER {
    width:342px;
    font-size:1.2rem;
}

#WF_buttonFilter {
    width:50px;
    min-height:22px;
}

/* リストエリア */
#divListArea {
    height:calc(100% - 45px);
    min-width:990px;
}

#divPnlListArea_HLShowHideDetailBox {
    color:crimson;
}

/* TODO 他の項目のホバーイベントが機能しなくなる? */
/*#divPnlListArea_HLShowHideDetailBox:hover {
    text-decoration:underline;
    cursor:pointer;
}*/

#divPnlListArea_HLShowHideDetailBox.showDetail:before {
    content:"SHOW INPUT";
}

#divPnlListArea_HLShowHideDetailBox.hideDetail:before {
    content:"HIDE INPUT";
}

/* ************************ */
/* 上一覧表                 */
/* ************************ */
#pnlListArea {
    margin-left:10px;
    margin-right:10px;
    height:100%;
    position:relative;
}

#pnlListArea td, #pnlListArea th {
    white-space:nowrap;             /* 折り返させない */
    text-overflow:ellipsis;         /* 領域越を点々表示 */
}

/* ------------------------------
   CS0013ProfViewでの生成Table
   スタイル定義
   (IDで定義されたスタイルが勝ちます)
   ------------------------------ */
div[data-generated="1"] {
    /* color:red; */
    letter-spacing:-.4em;
    /*margin-left:10px;
    margin-right:10px;
    height:calc(100% - 120px);
    min-height:180px;
    position:relative;
    overflow:hidden;*/
}

div[data-generated="1"] span.listSort {
    cursor:pointer;
}

/* TODO 他の項目のホバーイベントが機能しなくなる? */
/*div[data-generated="1"] span.listSort:hover {
    color:darkorange;
}*/

div[data-generated="1"] span.listSort.ASC:after {
    width:16px;
    height:16px;
    content:"";
    display:table-cell;
    background-image:url('../Images/ascending.png');
    background-repeat:no-repeat;
    background-size:contain;
    float:right;
}

div[data-generated="1"] span.listSort.DESC:after {
    width:16px;
    height:16px;
    display:table-cell;
    content:"";
    background-image:url('../Images/descending.png');
    background-repeat:no-repeat;
    background-size:contain;
    float:right;
}

div[data-generated="1"] div {
    /* color:red; */
    letter-spacing:-.4em;
    border-color:white;
    border-width:0px;
}

div[data-generated="1"] div table {
    /* color: red; */
    letter-spacing:normal;
    border-color:white;
    border-width:0px;
}

/* 左(固定ヘッダーテーブル用)DIV */
div[data-generated="1"] div[id$="_HL"] {
    left:0px;
    top:0px;
    position:absolute;
}

/* 右(可変ヘッダーテーブル用)DIV */
div[data-generated="1"] div[id$="_HR"] {
    right:0px;
    top:0px;
    bottom:0px;
    overflow:hidden;
    position:absolute;
}

/* 左(固定データテーブル用)DIV */
div[data-generated="1"] div[id$="_DL"] {
    left:0px;
    top:26px;
    /* top:48px; */
    bottom:0px;
    /* width:auto;  固定列の幅に合わされる */
    overflow-x:hidden;
    overflow-y:hidden;
    position:absolute;
    z-index:3;
}

/* 右(可変データテーブル用)DIV */
div[data-generated="1"] div[id$="_DR"] {
    /* left:538px; */ /* 固定列の幅に合わせ共通処理でインラインで設定 */
    right:0px;
    top:26px;
    /* top:48px; */
    bottom:0px;
    width:auto;
    overflow-x:hidden;
    overflow-y:hidden;
    position:absolute;
    z-index:2;
}

/* 左右データ・ヘッダーを格納するテーブルスタイル */
div[data-generated="1"] div[id$="_HL"] table,
div[data-generated="1"] div[id$="_HR"] table,
div[data-generated="1"] div[id$="_DR"] table,
div[data-generated="1"] div[id$="_DL"] table {
    border:1px solid white;
    border-image:none;
    width:100%;
    height:24px;
    border-collapse:collapse;
    table-layout:fixed;
    word-wrap:break-word;
    font-size:1.2rem;
}

div[data-generated="1"] div[id$="_HL"] table,
/*div[data-generated="1"] div[id$="_HR"] table {
    height:48px;
}
*/

/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr {
    background-color:rgb(149,179,215);
    color:rgb(0, 32, 96);
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr {
    background-color:rgb(22,54,92);
    color:white;
}

/* 左データ行スタイル */
div[data-generated="1"] div[id$="_DL"] table tr {
    background-color:rgb(149,179,215);
    color:rgb(0, 32, 96);
}

/* データ行スタイル */
div[data-generated="1"] div[id$="_DR"] table tr,
div[data-generated="1"] div[id$="_DL"] table tr {
    background-color:white;
    color:black;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd),
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) {
    background-color:#C8C8E8;
}

/* セルの設定(共通) */
div[data-generated="1"] td,
div[data-generated="1"] th {
    border:1px solid White;
    height:24px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

/* セルの設定(共通) */
div[data-generated="1"] div[id$="_HL"] td,
div[data-generated="1"] div[id$="_HL"] th,
div[data-generated="1"] div[id$="_HR"] td,
div[data-generated="1"] div[id$="_HR"] th {
    border:1px solid White;
    /* word-break:break-all; */
    word-wrap:break-word !important;
    white-space:normal !important;
    text-overflow:ellipsis;
}

/*div[data-generated="1"] td:before,
div[data-generated="1"] th:before{
    content:"\00A0";
    display:inline-block;
    width:0.9px !important;
    white-space:nowrap;
}*/

/* ------------------------------
CS0013ProfViewでの生成Tableの
SCROLL TYPE個別設定
------------------------------ */
/* SCROLLTYPE=1(縦のみ) */
div [data-generated="1"][data-scrolltype="1"] div[id$="_HR"] {
    right:16px;
}

div [data-generated="1"][data-scrolltype="1"] div[id$="_DL"] {
    bottom:0px;
}

div [data-generated="1"][data-scrolltype="1"] div[id$="_DR"] {
    overflow-y:scroll;
}

/* SCROLLTYPE=2(横のみ) */
div[data-generated="1"][data-scrolltype="2"] div[id$="_HR"] {
    /* 初期値と同値 */
}

div [data-generated="1"][data-scrolltype="2"] div[id$="_DL"] {
    bottom:16px;
}

div [data-generated="1"][data-scrolltype="2"] div[id$="_DR"] {
    overflow-x:scroll;
}

/* SCROLLTYPE=3(縦横固定) */
div[data-generated="1"][data-scrolltype="3"] div[id$="_HR"] {
    right:16px;
}

div [data-generated="1"][data-scrolltype="3"] div[id$="_DL"] {
    bottom:16px;
}

div [data-generated="1"][data-scrolltype="3"] div[id$="_DR"] {
    overflow-x:scroll;
    overflow-y:scroll;
}

/* ------------------------------
    CS0013ProfViewでの生成Tableの
    COLORSET定義 green
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="green"] {
    background-color:#3F9877;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="green"] {
    background-color:#3F9877;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="green"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="green"] {
    background-color:#91BA58;
}

/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 red
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="red"] {
    background-color:#942138;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="red"] {
    background-color:#942138;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="red"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="red"] {
    background-color:#B92946;
}

/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 orange
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="orange"] {
    background-color:#FF4700;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="orange"] {
    background-color:#FF4700;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="orange"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="orange"] {
    background-color:#FFA500;
}

/* ------------------------------
CS0013ProfViewでの生成Tableの
COLORSET定義 purple
------------------------------ */
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr th[data-colorset="purple"] {
    background-color:#420039;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr th[data-colorset="purple"] {
    background-color:#420039;
}

/* データ行(奇数) */
div[data-generated="1"] div[id$="_DR"] table tr:nth-child(odd) td[data-colorset="purple"],
div[data-generated="1"] div[id$="_DL"] table tr:nth-child(odd) td[data-colorset="purple"] {
    background-color:#CDB2CD;
}

/* ------------------------------
共通表マウスホバー時の色調整
------------------------------ */
div[data-generated="1"] tr.hover td,
div[data-generated="1"] tr.hover th {
    background-color:#FFDADA !important;
}

/* ************************ */
/* タブ下部の入力エリア     */
/* ************************ */
/* 詳細の一覧表 */
span[class^="WF_DViewRep"][class$="_Area"] {
    display:block;
    position:fixed;
    bottom:1.5em;
    left:5px;
    right:5px;
    overflow-x:hidden;
    overflow-y:auto;
    background-color:white;
    border: 2px solid blue;
    background-color:rgb(220,230,240);
    z-index:2;
}
/* 詳細一覧表内のテキストボックス */
span[class^="WF_DViewRep"] table input[type=text] {
    width: 15rem;
    height: 1.6rem;
    visibility:hidden;
}

span[class^="WF_DViewRep"] table {
    width:100%;
    margin-left:15px;
    margin-top:5px;
}
span[class^="WF_DViewRep"] table td {
    padding:1px;
    padding-top:2px;
    padding-bottom:2px;
}
span[class^="WF_DViewRep"] table td:nth-child(1){
    display:none;
}
/* 詳細一覧表内の項目名称 */
span[class^="WF_DViewRep"] table td:nth-child(7n+2) span{
    width:10rem;
    display:inline-block;
}
/* 詳細一覧表内の必須記号 */
span[class^="WF_DViewRep"] table td:nth-child(7n+3) span{
    width:0.5rem;
    display:inline-block;
}
/* 詳細一覧表内の項目（非表示） */
span[class^="WF_DViewRep"] table td:nth-child(7n+4){
    display: none;
}
/* 詳細一覧表内の項目（空白） */
span[class^="WF_DViewRep"] table td:nth-child(7n+6) span{
    width:1px;
    display:inline-block;
}
/* 詳細一覧表内の項目（値名称） */
span[class^="WF_DViewRep"] table td:nth-child(7n+7) span{
    width: 10rem;
    display: inline-block;
    color:blue;
}
/* 詳細一覧表内の項目（空白） */
span[class^="WF_DViewRep"] table td:nth-child(7n+1) span{
    width:0.5rem;
    display:inline-block;
}

#pnlListArea td, #pnlListArea th {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
}

#detailbox td, #detailbox th, #detailbox span {
    white-space: nowrap; /* 折り返させない */
    text-overflow: ellipsis; /* 領域越を点々表示 */
}
