<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
	<appSettings>
		<add key="Environment" value="TEST"/>
	</appSettings>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <identity impersonate="true" userName="JOTNT\pcadmin2" password="pad2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151"/>
    <pages clientIDMode="Static" masterPageFile="~/OIL/OILMasterPage.Master" />
    <customErrors defaultRedirect="M00000LOGON.aspx" mode="Off">
      <error statusCode="403" redirect="~/OIL/ex/page_404.html" />
      <error statusCode="404" redirect="~/OIL/ex/page_404.html" />
      <error statusCode="510" redirect="~/OIL/ex/page_404.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="M00000LOGON.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="Pragma" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>