        div[data-generated="1"] td,		
        div[data-generated="1"] th {
            height:2.0rem;
            font-size:1.2rem;
        }

        #KEY_LINE_3 a:nth-child(2){
               left:3em;
        }

        #KEY_LINE_4 a:nth-child(2){
               left:3.4em;
        }

        #detailItems {
            position: relative;
            background-color :rgb(220, 230, 240);
            height:12em;
            top:-0.8em;
        }

        #detailheader {
            left:3em;
            margin:0px 0px 0px 0px;
            position: relative;
        }

        #detailheader tr {
            background-color:rgb(149,179,215);
        }

        #detailheader td {
            height: 1.4em;
            border-right-style:solid;
            border-color: rgb(149,179,215);
            border-width:1px;
        }

        #detailheader td:nth-child(0) {
            border-left-style :solid;
        }

        #detailRepeater {
            margin:0px 0px 0px 0px;
            position: relative;
            border:solid;
            border-width:1px;
        }

        #detailRepeater tr:nth-child(2n+0) {
            background-color:white;
            border-color: white;
        }

        #detailRepeater tr:nth-child(2n+0) td {
            height: 1.4em;
            border-right-style:solid;
            border-color: white;
            border-width:1px;
        }

        #detailRepeater tr:nth-child(2n+1) td {
            height: 1.4em;
            border-right-style:solid;
            border-color: white;
            border-width:1px;
        }
