.detailboxOnly {
    background-color:rgb(210, 192, 188)
}

#detailbuttonbox {
    position:absolute;
}

#detailbuttonbox a {
    left:57.8em;
}

#detailkeybox {
    position:absolute;
    top:0.5em;
}

#KEY_LINE_1 a:nth-child(2) {
    left:0.2em;
}

#KEY_LINE_2 a:nth-child(2) {
    left:0.2em;
}

#KEY_LINE_4 a:nth-child(2) {
    left:7em;
}

#nouselist {
    position:absolute;
    top:6.9em;
    left:3em;
    bottom:1%;
    width:13em;
}

/* 選択項目リスト */
#WF_VIEW_LIST {
    width:100%;
    line-height:1em;
}

#WF_VIEW_LIST tr.hover td {
    color:#000000 !important;
    background-color:#CCCCCC !important;
}

#WF_VIEW_LIST tr.selecthover td {
    color:#FFFFFF !important;
    background-color:#66B3FF !important;
}

#WF_VIEW_LIST tr.select td {
    color:#000000 !important;
    background-color:#B3B3B3 !important;
}

#WF_VIEW_LIST td {
    color:black;
    font-size:small;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
}

/* 追加削除ボタン */
#editbuttonbox {
    position:absolute;
    top:85%;
    height:10.5%;
    width:100%;
}

#editbuttonbox p {
    position:relative;
    left:3em;
    width:87%;
    margin:0em 0em 0.5em 0em;
}

#editbuttonbox a {
    position:relative;
    margin:0em 1em 0em 0em;
}

#uselist {
    position:absolute;
    top:6.9em;
    left:17em;
    bottom:1%;
    right:3em;
}

/* 実テーブル */
.WF_Repeater {
    position:relative;
    height:76.5%;
    width:100%;
    overflow:auto;
    background-color:white;
    border:solid;
    border-width:0.1em;
}

#WF_VIEW th {
    width:6.7em;
    color:black;
    font-size:small;
    vertical-align:middle;
    text-align:center;
    overflow:hidden;
}

#WF_VIEW input {
    height:1.3em;
    width:6.5em;
    color:black;
    font-size:small;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
    border:solid;
    border-color:black;
    border-width:0.1em;
    background-color:white;
}

/* 追加情報 */
#addfunction {
    position:absolute;
    top:88%;
    height:11%;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:white;
    border:solid;
    border-width:0.1em;
}

#addfunction p {
    position:relative;
    top:5%;
    left:0.5%;
    width:99%;
    margin:0em 0em 0.2em 0em;
}

#addfunction a {
    position:relative;
    margin:0em 1em 0em 0em;
}
