div[data-generated="1"] td,
div[data-generated="1"] th {
    height:2.0rem;
}

#KEY_LINE_2 a:nth-child(2) {
    left:3.7em;
}

#KEY_LINE_3 a:nth-child(2) {
    left:3.7em;
}

#KEY_LINE_4 a:nth-child(2) {
    left:4.2em;
}

.WF_Repeater {
    position:fixed;
    bottom:4%;
    left:3em;
    height:9.7em;
    width:75em;
    overflow:auto;
    background-color:white;
    table-layout:fixed;
}
