div[data-generated="1"] td,
div[data-generated="1"] th {
    height:2.0rem;
}

.WF_Repeater {
    position: fixed;
    height: 11.5em;
    bottom: 2.0em;
    left: 3em;
    overflow: auto;
    background-color: white;
    table-layout: fixed;
}
