
        /* ------------------------------
         擬似フレーム　スタイル定義
        ------------------------------ */

        #KEY_LINE_2 a:nth-of-type(2) {
            left:1em;
        }

        #KEY_LINE_3 a:nth-of-type(2) {
            left:0.9em;
        }

        #KEY_LINE_3 a:nth-of-type(3) {
            left:5.4em;
        }

        #WF_Rep_DELFLG {
            visibility: visible;
        }

        div[data-generated="1"] td,
        div[data-generated="1"] th {
            height:2.0rem;
            font-size:1.2rem;
        }

        .WF_Dtab {
            text-align:center;
            vertical-align:-1.2em;
        }

        span[class^="WF_DViewRep"][class$="_Area"] {
            height:10.8em;
        }
        
