
        /* ------------------------------
         擬似フレーム　スタイル定義
        ------------------------------ */
        div[data-generated="1"] td,		
        div[data-generated="1"] th {
            height:2.0rem;
            font-size:1.2rem;
        }

        #KEY_LINE_2 a:nth-child(2) {
            left:3.8em;
        }

        #KEY_LINE_3 a:nth-child(2) {
            left:4.2em;
        }
