#headerbox {
    height: 3.3em;
}

#detailbox {
    top: 5.7em;
}

#divListArea {
    height:100%;
    min-width:95%;
}

#pnlListArea {
    margin-left:0.7em;
    margin-right:0.78em;

}

div[data-generated='1'] th,
div[data-generated='1'] td {
    height: 14.89px !important;
    font-size: 9.8px !important;
    word-wrap: break-word;
}

div[data-sum='1'] div[id$="_DR"] tr:nth-last-child(1) td,
div[data-sum='1'] div[id$="_DL"] tr:nth-last-child(1) th {
    background-color: #add8e6;
}

#detailbox {
    background-color: rgb(220, 230, 240) !important;
}
