/* ------------------------------
    個別スタイル定義
 ------------------------------ */
.searchbuttonbox {
    height: 2em;
    top:0.8em;
    position:absolute;
    z-index: 10;
}

.searchkeybox{
    left:4em;
    top:1.7em;
    position:absolute;
}

#searchkeybox a{
    position:relative ;
    min-width:9em;
    max-width : 16em;
    display:inline-block;
}

#searchkeybox p{
    margin : 1em 0px 1em 0px; 
    position:relative ;
    left:4em;
}

.RF_DTLDISP {
    display:inline ;
}

.calendarbox {
    position: absolute;
    top: 15.0em;
    left: 60.0em;
    width: 20em;
}
.calendarkeybox{
    width: 15em;
    margin-bottom: 0.8em;
}
.calendarkeybox a:last-child {
    right: 0em;
    position: absolute;
}
.calendarbox table tr:nth-child(2n+0) {
    background-color: #99FF99;
}
.calendarbox table tr:nth-child(2n+0) {
    background-color: white;
}
.calendarbox table td {
    border: 1px solid black;
    width: 2em;
    height: 1.5em;
    text-align: center;
}
.calendarbox table {
    border-collapse: collapse;
    border: 1px solid black;
}

.WeekEnd {
    color: red;
}


.arrow-left {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0 10px;
    border-left: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: rotate(45deg);
}

.arrow-right {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    margin: 0 10px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
}