/* ------------------------------
    個別スタイル定義
 ------------------------------ */

/* 一覧　*/
.WF_Dtab{
    text-align:center;
    vertical-align:-0.5em;
}
 .WF_DViewRep{
            color:black; 
            margin-top:0.5em;
            margin-top:0.5em;
        }
