/* ------------------------------
    個別スタイル定義
 ------------------------------ */

.searchbuttonbox {
    left:60em;
}

#searchkeybox{
    top:1.7em;
    left:0em;
    position:absolute;
}

#searchkeybox a{
    position:relative ;
    min-width:10em;
    max-width:16em;
    display:inline-block;
}

#searchkeybox p{
    margin : 1em 0px 1em 0px; 
    position:relative ;
    left:4em;
    width:0em;
}

p[class^='LINE'] a:nth-child(1)  {
    font-weight:bold;
    text-decoration:underline;
}