/* ------------------------------
    個別スタイル定義
 ------------------------------ */

#headerbox {
    z-index:2;
}

#headerbox::after {
    content: "";
    display: block;
    clear: both;
}
#detailbox {
    background-color:rgb(210,192,188);
    z-index:1;
}

.Operation_Detail a {
    left:67em;
    position:relative ;
}

span[class^='WF_DViewRep'] table {
    left: 0.5em;
    position:relative ;
    margin-top:auto;
}

.detailkeybox {
    top:3.1em;
}
#detailkeybox p[id^='KEY_LINE']  {
    margin: 0px 0px 0px 0px;
    max-height: 1.4em;
}
p[id^='KEY_LINE'] a {
  min-width:20em;
  display:inline-block;
}
p[class^='KEY_LINE'] a:nth-child(1) {
    left: 3em;
}
p[class^='KEY_LINE'] a:nth-child(2) {
    left: 24.6em;
}
p[class^='KEY_LINE'] a:nth-child(3) {
    left: 46.2em;
}

.Detail.ENEX span.KNK{
    display:none;
}
.Detail.ENEX span.NJS{
    display:none;
}
.Detail.ENEX span.JKT{
    display:none;
}
.Detail.KNK span.ENEX{
    display:none;
}
.Detail.KNK span.NJS{
    display:none;
}
.Detail.KNK span.JKT{
    display:none;
}
.Detail.NJS span.ENEX{
    display:none;
}
.Detail.NJS span.KNK{
    display:none;
}
.Detail.NJS span.JKT{
    display:none;
}
.Detail.JKT span.ENEX{
    display:none;
}
.Detail.JKT span.KNK{
    display:none;
}
.Detail.JKT span.NJS{
    display:none;
}
