/* ------------------------------
    個別スタイル定義
 ------------------------------ */
#RF_ERR_MEMO {
    display:none;
}

#headerbox {
    z-index:2;
}

#headerbox::after {
    content: "";
    display: block;
    clear: both;
}
div[class^='Operation'] {
    left: 12em;
    top: 0.4em;
    z-index: 50;
}
div[class^='Operation'] a {
    margin-right: 3em;
    position:relative;
}
.Operation a:nth-child(3)  {
    margin-left: 4em;
}
.Operation a:nth-child(n+3)  {
    margin-right: 0.2em;
}

.leftMenubox {
    top: 0.5em;
    left:1em;
    float:left;
}
#divListArea {
    top: 0.5em;
    left: 0.5em;
    min-width : 1100px;
    float:left;
}

#detailbox {
    background-color:rgb(210,192,188);
    z-index:1;
}

.Operation_Detail a {
    left:60em;
}

span[class^='WF_DViewRep'] table {
    left: 0.5em;
    position:relative ;
    margin-top:auto;
}

.detailkeybox {
    top:3.1em;
}
#detailkeybox p[id^='KEY_LINE']  {
    margin: 0px 0px 0px 0px;
    max-height: 1.4em;
}
p[id^='KEY_LINE'] a {
  min-width:20em;
  display:inline-block;
}
p[class^='KEY_LINE'] a:nth-child(1) {
    left: 3em;
}
p[class^='KEY_LINE'] a:nth-child(2) {
    left: 24.6em;
}
p[class^='KEY_LINE'] a:nth-child(3) {
    left: 46.2em;
}