/* ------------------------------
    個別スタイル定義
 ------------------------------ */
#RF_ERR_MEMO {
    display:none;
}

#headerbox::after {
    content: "";
    display: block;
    clear: both;
}
.Operation {
    left: 1rem;
    top:0.4em;
}
.leftMenubox {
    top: 0.5em;
    left:1em;
    float:left;
}
#divListArea {
    top: 0.5em;
    left: 12em;
    width: 84.1%;
    min-width: 80%;
    /*float: left;*/
}
