/* ------------------------------
 凡例
------------------------------ */

/*
h1 { color: red; }			--> h1要素に対して指定 
h1, h2 { color: red; }		-->  h1 と h2要素に対して指定 
ul li { color: red; }		-->  <ul>～</ul> の中にある li要素に対して指定 
.sample { color: red; }		-->  class="sample" を持つ要素に対して指定 
#sample { color: red; }		-->  id="sample" を持つ要素に対して指定 
h1.sample { color: red; }	-->  class="sample" を持つ div要素に対して指定 
a:link { color: red; }		-->  <a href="..."> のリンク(未訪問)に対して指定 
*/

/* ------------------------------
 擬似フレーム　スタイル定義
------------------------------ */

    #Menuheaderbox {
        width:auto; 
        top:2.4em;
        bottom:1.4em;
        position:fixed;
        left:0px; 
        right:0px; 
        overflow:hidden;
       	background-color: rgb(255, 255, 255); 
    }
        

/*在庫管理メニュー表示*/
#Menu_L {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 5px 0px 0px 0px;
    left: 2em;
    overflow-y: auto;
    background-color: #8DCF3F;
    background-image: url(../img/oiltank.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_L {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
    /*    background: linear-gradient(transparent 10%, #F5F5F5 95%);*/
}


.WF_MenuButton_L {
    height: 28px;
    width: 90%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

/*受注管理メニュー表示*/
#Menu_L2 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 5px 0px 0px 0px;
    left: 20em;
    overflow-y: auto;
    background-color: #44DEDE;
    background-image: url(../img/order.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_L2 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_L2 {
    height: 28px;
    width: 120%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight:800;
}

/*請求支払管理メニュー表示*/
#Menu_L3 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 22% 0% 0% 0%;
    left: 2em;
    overflow-y: auto;
    background-color: #FDC44F;
    background-image: url(../img/pay.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_L3 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_L3 {
    height: 28px;
    width: 100%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}


/*タンク車所在管理メニュー表示*/
#Menu_L4 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 22% 0% 0% 0%;
    left: 20em;
    background-color: #CC6699;
    background-image: url(../img/tank.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_L4 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_L4 {
    height: 28px;
    width: 100%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}




/*回送管理メニュー表示*/
#Menu_R {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 5px 0px 0px 0px;
    left: 41em;
    overflow-y: auto;
    background-color: #F58E7E;
    background-image: url(../img/foward.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_R {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_R {
    height: 28px;
    width: 80%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

/*マスタ管理メニュー表示*/
#Menu_R2 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 5px 0px 0px 0px;
    left: 61em;
    overflow-y: auto;
    background-color: #93B8CA;
    background-image: url(../img/master.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_R2 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_R2 {
    height: 28px;
    width: 100%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}



/*実績・統計メニュー表示*/
#Menu_R3 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 22% 0% 0% 0%;
    left: 41em;
    overflow-y: auto;
    background-color: #CCCCCC;
    background-image: url(../img/statistics.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_R3 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_R3 {
    height: 28px;
    width: 100%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

/*データ連携メニュー表示*/
#Menu_R4 {
    height: 45%;
    width: 18%;
    position: fixed;
    margin: 22% 0% 0% 0%;
    left: 61em;
    overflow-y: auto;
    background-color: #383838;
    background-image: url(../img/datalink.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 40%;
}

.WF_MenuLabel_R4 {
    height: 2em;
    width: 30em;
    position: relative;
    left: 0em;
    overflow: hidden;
    color: rgba(56, 56, 56, 0.6);
    font-weight: 800;
    vertical-align: middle;
    text-align: left;
    font-size: 5ex;
}

.WF_MenuButton_R4 {
    height: 28px;
    width: 100%;
    position: relative;
    left: 2em;
    overflow: hidden;
    color: white;
    border: none;
    background-color: transparent;
    vertical-align: middle;
    text-align: left;
    font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
    font-size: 20px;
    font-weight: 800;
}



