/* ------------------------------
 凡例
------------------------------ */

/*
h1 { color: red; }			--> h1要素に対して指定 
h1, h2 { color: red; }		-->  h1 と h2要素に対して指定 
ul li { color: red; }		-->  <ul>～</ul> の中にある li要素に対して指定 
.sample { color: red; }		-->  class="sample" を持つ要素に対して指定 
#sample { color: red; }		-->  id="sample" を持つ要素に対して指定 
h1.sample { color: red; }	-->  class="sample" を持つ div要素に対して指定 
a:link { color: red; }		-->  <a href="..."> のリンク(未訪問)に対して指定 
*/

/* ------------------------------
 擬似フレーム　スタイル定義
------------------------------ */

#Menuheaderbox {
    width: 100%;
    min-width: 980px;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex; /* フレックス表示 */
    flex-wrap: wrap;
    box-sizing: border-box;
}


/* メニュー枠の共通設定(色や画像は後述スタイルで個別設定)(aタグIDが"Menu_"で始まるもの) */
a[id^="Menu_"] {
    display: block; /* Block要素に変更 */
    border: 1px solid rgb(255, 255, 255);
    width: 25%; /* 4列にするため100% ÷ 4 これで4あふれた幅で折り返し2行になる */
    height: 50%; /* 2行にするため50% */
    overflow-y: auto;
    overflow-x: hidden; /* 横スクロールはなし */
    box-sizing: border-box;
    /* 以下イメージの共通設定 */
    background-repeat: no-repeat;
    background-position: left 2pt bottom 2pt;
    background-size: 25%;
}
/* メニュー枠内のテーブル設定 */
a[id^="Menu_"] table {
    width:100%;
}
a[id^="Menu_"] table td {
    max-width:100%;
}
/* メニュー枠内タイトルの共通設定(色や画像は後述スタイルで個別設定)(spanタグIDが"WF_MenuLabe_"で始まるもの) */
span[id*=WF_MenuLabe_] {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    max-width:100%;
    color: rgba(56, 56, 56, 0.6);
    text-align: left;
    font-weight: 600;
    font-size: 5ex;
}
/* メニュー枠内ボタンの共通設定 */
a[id^="Menu_"] input[type=submit] {
    width: calc(100% - 2em); /* 全体幅から当マージン分を引く */
    max-width: calc(100% - 2em); /* 全体幅から当マージン分を引く */
    color: white;
    /* background-color: rgba(255, 255, 255,0.1); */  /* transparent → 白の透明度90% 0.1を増加させれば白が増します */
    border-left-width: 4px;
    border-right-width: 2px;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: rgba(56,56,56,0.4);
    font-size: 20px;
    height: 30px;
    font-weight: 600;
    text-align: left;
    margin-left: 2em;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 3px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
}
/*在庫管理メニュー表示*/
#Menu_L {
    background-image: url(../img/oiltank.png);
}
#Menu_L, #Menu_L input[type=submit] {
    background-color: #8DCF3F;
}
#Menu_L input[type=submit]:hover {
    background-color: #58BE89;
}
/*受注管理メニュー表示*/
#Menu_L2 {
    background-image: url(../img/order.png);
}
#Menu_L2, #Menu_L2 input[type=submit] {
    background-color: #44DEDE;
}
#Menu_L2 input[type=submit]:hover {
    background-color: #40AAEF;
}
/*請求支払管理メニュー表示*/
#Menu_L3 {
    background-image: url(../img/pay.png);
}
#Menu_L3, #Menu_L3 input[type=submit] {
    background-color: #FDC44F;
}
#Menu_L3 input[type=submit]:hover {
    background-color: #FBA848;
}
/*タンク車所在管理メニュー表示*/
#Menu_L4 {
    background-image: url(../img/tank.png);
}
#Menu_L4, #Menu_L4 input[type=submit] {
    background-color: #CC6699;
}
#Menu_L4 input[type=submit]:hover {
    background-color: #990066;
}
/*回送管理メニュー表示*/
#Menu_R {
    background-image: url(../img/foward.png);
}
#Menu_R, #Menu_R input[type=submit] {
    background-color: #F58E7E;
}
#Menu_R input[type=submit]:hover {
    background-color: #F27398;
}
/*マスタ管理メニュー表示*/
#Menu_R2 {
    background-image: url(../img/master.png);
}
#Menu_R2, #Menu_R2 input[type=submit] {
    background-color: #93B8CA;
}
#Menu_R2 input[type=submit]:hover {
    background-color: #0E7AC4;
}
/*実績・統計メニュー表示*/
#Menu_R3 {
    background-image: url(../img/statistics.png);
}
#Menu_R3, #Menu_R3 input[type=submit] {
    background-color: #CCCCCC;
}
#Menu_R3 input[type=submit]:hover {
    background-color: #737373;
}
/*データ連携メニュー表示*/
#Menu_R4 {
    background-image: url(../img/datalink.png);
}
#Menu_R4, #Menu_R4 input[type=submit] {
    background-color: #55efc4;
}
#Menu_R4 input[type=submit]:hover {
    background-color: #00b894;
}
a[id^="Menu_"] input[type=submit] {
    background-image: linear-gradient(0deg, RGBA(0,0,0,0.1),RGBA(0,0,0,0.1));
}
/* **************************
    ガイダンス関連
************************** */
.guidance {
    border: 1px solid rgb(255, 255, 255);
    height: 100px;
    width: 100%;
    //overflow-y: auto;
    overflow: hidden; /* 横スクロールはなし */
    position: relative;
}
#guidanceList {
    height: calc(100px - 2px);
    width: calc(100% - 2px);
    //border: solid 1px gray;
    border-radius: 2px;
    background-color: rgb(241,208,227);
    padding-bottom: 5px;
    overflow-y: auto;
}
#guidanceOpenCloseWrapper {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:8px;
}
#guidanceOpenClose {
    position: fixed;
    left: calc(50% - 100px);
    z-index: 31;
}
#guidanceOpenCloseButton {
    color: white;
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(107,191,255,0.75);
    line-height: 20px;
    font-weight: bold;
    border-radius: 15px;
    width: 200px;
    height: 20px;
}
#guidanceOpenCloseButton:hover {
    background-color: rgb(107,191,255);
    cursor: pointer;
}
.guidanceTable td {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.showGuidance a[id^="Menu_"] {
    height: calc(50% - 50px);
}

.guidanceType div {
    width: 20px;
    height: 20px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
}

.guidanceType div.E {
    background-image: url('../img/guidanceIconE.png');
}
.guidanceType div.W {
    content: " ";
    background-image: url('../img/guidanceIconW.png');
}
.guidanceType div.I {
    content: " ";
    background-image: url('../img/guidanceIconI.png');
}