/* ------------------------------
 凡例
------------------------------ */

/*
h1 { color: red; }			--> h1要素に対して指定 
h1, h2 { color: red; }		-->  h1 と h2要素に対して指定 
ul li { color: red; }		-->  <ul>～</ul> の中にある li要素に対して指定 
.sample { color: red; }		-->  class="sample" を持つ要素に対して指定 
#sample { color: red; }		-->  id="sample" を持つ要素に対して指定 
h1.sample { color: red; }	-->  class="sample" を持つ div要素に対して指定 
a:link { color: red; }		-->  <a href="..."> のリンク(未訪問)に対して指定 
*/

/* ------------------------------
 擬似フレーム　スタイル定義
------------------------------ */

#Menuheaderbox {
    width: 100%;
    min-width:980px;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex; /* フレックス表示 */
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* メニュー枠の共通設定(色や画像は後述スタイルで個別設定)(aタグIDが"Menu_"で始まるもの) */
a[id^="Menu_"] {
    display: block; /* Block要素に変更 */
    border: 1px solid rgb(255, 255, 255);
    width: 25%; /* 4列にするため100% ÷ 4 これで4あふれた幅で折り返し2行になる */
    height: 50%; /* 2行にするため50% */
    overflow-y: auto;
    overflow-x: hidden; /* 横スクロールはなし */
    box-sizing: border-box;
    /* 以下イメージの共通設定 */
    background-repeat: no-repeat;
    background-position: left 2pt bottom 2pt;
    background-size: 25%;
}
/* メニュー枠内のテーブル設定 */
a[id^="Menu_"] table {
    width:100%;
}
a[id^="Menu_"] table td {
    max-width:100%;
}
/* メニュー枠内タイトルの共通設定(色や画像は後述スタイルで個別設定)(spanタグIDが"WF_MenuLabe_"で始まるもの) */
span[id^=WF_MenuLabe_] {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    max-width:100%;
    color: rgba(56, 56, 56, 0.6);
    text-align: left;
    font-weight: 600;
    font-size: 5ex;
}
/* メニュー枠内ボタンの共通設定 */
a[id^="Menu_"] input[type=submit] {
    width: calc(100% - 2em); /* 全体幅から当マージン分を引く */
    max-width: calc(100% - 2em); /* 全体幅から当マージン分を引く */
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 2em;
    overflow:hidden;
    white-space:nowrap;
}
/*在庫管理メニュー表示*/
#Menu_L {
    background-color: #8DCF3F;
    background-image: url(../img/oiltank.png);
}
#Menu_L input[type=submit]:hover {
    background-color: #58BE89;
}
/*受注管理メニュー表示*/
#Menu_L2 {
    background-color: #44DEDE;
    background-image: url(../img/order.png);
}
#Menu_L2 input[type=submit]:hover {
    background-color: #40AAEF;
}
/*請求支払管理メニュー表示*/
#Menu_L3 {
    background-color: #FDC44F;
    background-image: url(../img/pay.png);
}
#Menu_L3 input[type=submit]:hover {
    background-color: #FBA848;
}
/*タンク車所在管理メニュー表示*/
#Menu_L4 {
    background-color: #CC6699;
    background-image: url(../img/tank.png);
}
#Menu_L4 input[type=submit]:hover {
    background-color: #990066;
}
/*回送管理メニュー表示*/
#Menu_R {
    background-color: #F58E7E;
    background-image: url(../img/foward.png);
}
#Menu_R input[type=submit]:hover {
    background-color: #F27398;
}
/*マスタ管理メニュー表示*/
#Menu_R2 {
    background-color: #93B8CA;
    background-image: url(../img/master.png);
}
#Menu_R2 input[type=submit]:hover {
    background-color: #0E7AC4;
}
/*実績・統計メニュー表示*/
#Menu_R3 {
    background-color: #CCCCCC;
    background-image: url(../img/statistics.png);
}
#Menu_R3 input[type=submit]:hover {
    background-color: #737373;
}
/*データ連携メニュー表示*/
#Menu_R4 {
    background-color: #55efc4;
    background-image: url(../img/datalink.png);
}
#Menu_R4 input[type=submit]:hover {
    background-color: #00b894;
}