/*左Boxオープン用虫眼鏡アイコン*/
/*.BoxIcon {
    background-image: url(../img/leftbox.png);
    background-repeat: no-repeat;
    background-position: 1px;
}*/

/*カレンダーオープン用アイコン*/
/*.CalendarIcon {
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 1px;
}*/

/* 実行画面 ヘッダー部(詳細) */
.detailboxOnly input[type='text'] {
    padding-left: 1.3em;
}

/*削除フラグ(虫眼鏡アイコン ※ワンクリック用)*/
#WF_DELFLG_ICON {
    position: fixed;
    height: 50px;
    width: 50px;
    top: 4px;
    left: 15px;
    cursor: pointer;
}

table.WF_OILTERMTBL {
    margin-top: 5px;
    margin-bottom: 5px;
}

table.WF_OILTERMTBL input.WF_TEXTBOX_CSS {
    width: 100%;
}

table.WF_OILTERMTBL td.WF_OILTERMTBL_TD2 div.calendarIconArea div {
    margin-top: 0px;
}

table.WF_OILTERMTBL td.WF_OILTERMTBL_TD3 div.calendarIconArea div {
    margin-top: 0px;
}

table.WF_OILTERMTBL td.WF_OILTERMTBL_TD4 div.boxIconArea div {
    margin-top: 0px;
}
