/*左Boxオープン用虫眼鏡アイコン*/
/*.BoxIcon {
    background-image: url(../img/leftbox.png);
    background-repeat: no-repeat;
    background-position: 1px;
}*/

/*カレンダーオープン用アイコン*/
/*.CalendarIcon {
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 1px;
}*/

/* 会社マスタ(検索)画面 */
/* #################１行目 ################# */
/* 会社コード(ラベル) */
#WF_CAMPCODE_LABEL {
    position: fixed;
    height: 50px;
    width: 120px;
    top: calc(15% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
    /*
    position:fixed; 
    top:5em; 
    left:40em; 
    color:#737373;
*/
    /*    font-weight:bold; 
    text-decoration:underline;*/
}

/*会社コード(虫眼鏡アイコン ※ワンクリック用)*/
#WF_CAMPCODE_ICON {
    position: fixed;
    height: 20px;
    width: 20px;
    top: calc(20.5% - 50px/2);
    left: calc(44.5% - 140px/2);
    cursor: pointer;
}

/*会社コードinput tag*/
#WF_CAMPCODE {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(19% - 50px/2);
    left: calc(46% - 140px/2);
    /*
    top: 6.5em;
    left: 40em;
    height: 2em;
    width: 10em;
    border-radius: 3px;
    padding-left: 21px;
*/
}

    #WF_CAMPCODE input[type='text'] {
        Height: 2.1em;
        Width: 10em;
    }



/* #################２行目 ################# */
/* 検索条件(ラベル) */
#WF_CAMPCODE_LABEL {
    position: fixed;
    height: 50px;
    width: 120px;
    top: calc(25% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
    /*
    position:fixed; 
    top:5em; 
    left:40em; 
    color:#737373;
*/
    /*    font-weight:bold; 
    text-decoration:underline;*/
}


/*検索条件ボタン配置*/
.grc0001Wrapper ul {

}
.grc0001Wrapper input[type=radio] + label {
    width:165px;
}