
.detailboxOnly {
    min-width:1125px;
}
.delAttachment {
    font-weight: bold;
    color: red;
    cursor: pointer;
    margin-right: 5px;
}
.attachmentCell hr {
    margin:5px;
}
table.input {
    table-layout: fixed;
    width:1102px;
}
table.input > tbody > tr > th,
table.input > tbody > tr > td {
    padding:5px;
    border:1px solid darkgray;
}
table.input > tbody > tr > th.top {
    vertical-align:top;
    padding-top:10px;
}
table.input > tbody > tr > th {
    background-color: rgb(221,235,247);
}
table.input col:nth-child(1) {
   width:140px;
}
table.input col:nth-child(2) {
   width:200px;
}
table.input col:nth-child(3) {
   width:140px;
}
table.input col:nth-child(4) {
   width:612px;
}
.grc0001Wrapper input[type=checkbox] + label, .grc0001Wrapper input[type=radio] + label {
    height:30px;
}
.grc0001Wrapper.type input[type=radio] + label {
    width:160px;
}
.grc0001Wrapper.type ul {
    width: 600px;
}
.grc0001Wrapper.flags ul {
    width: 900px;
}
#txtTitle {
    width:calc(100% - 5px);
}
table.input textarea {
    width: calc(100% - 5px);
    min-height: 30px !important;
    height: 120px;
    resize:vertical;
}
.calendarIconArea div {
    margin-top:0px;
}
#txtFromYmd,
#txtEndYmd {
    width:185px !important;
}
/* 添付ファイル欄 */
.uploadLine {
    //line-height:30px;
}
/* ファイルドラッグのスタイル */
div.fileDrag {
    border: 2px dashed transparent;
    border-radius: 5px;
    margin: -3px;
    padding: 3px;
    position: relative;
}
div.fileDrag.dragging {
    border: 2px dashed darkgray;
    //background-color:rgba(0,0,0,0.5);
}
div.fileDrag.dragging:after {
    display:block;
    width:calc(100% - 30px);
    margin-left:-3px;
    height:calc(100% - 30px);
    border-radius :5px;
    text-shadow:2px 2px 2px 2px black;
    top:0;
    content:"ここにドロップ";
    font-size:20px;
    font-weight:bold;
    letter-spacing :2px;
    color:white;
    position:absolute;
    background-color:rgba(0,0,0,0.2);
    text-align :center;
    padding:15px;
    z-index:3;
}

/* 参照のみの消込 */
form[REFONLY] #WF_UPDATE,
form[REFONLY] #WF_CLEAR {
    display: none;
}
form[REFONLY] .grc0001Wrapper input[type=checkbox] + label,
form[REFONLY] .grc0001Wrapper input[type=radio] + label {
    display: none;
}
form[REFONLY] .grc0001Wrapper input:checked + label {
    display:flex;
}
form[REFONLY] .attachmentCell input[type=button],
form[REFONLY] .attachmentCell hr,
form[REFONLY] .attachmentCell span.delAttachment {
    display: none;
}