/* コンテンツの余白 */
.actionButtonBox,
.commonHeaderInput,
.summaryArea,
#pnlListArea {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.actionButtonBox {
    // margin-bottom: 5px;
    // margin-top: 5px;
}
/* 4項目構えの最左を除く項目名フィールドを少し縮める */
.commonHeaderInput > span:nth-child(even) > a:nth-child(1) {
    width: 90px; /* 共通設定は115px */
}

.commonHeaderInput > span:nth-child(even) {
    /* 一項目の共通設定幅280px - (共通設定115px - 上記width) */
    width: 255px;
}

.commonHeaderInput {
    width: 1105px;
}

/* コンテンツの最小横幅 */
.headerbox, .detailbox {
    min-width: 1080px;
}
/* 下段の最小の高さ */
.detailbox {
    min-height: 120px;
}
/* 一覧表の最小高さ */

/* 油種別タンク車数(車)レイアウト */
.summaryAreaWrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.summaryAreaWrapper .rightSpace {
    margin-left: auto; /* 右に寄せる為マージンで埋める */
    box-sizing: border-box;
}

.summaryArea {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* 上下→左右の順で折り返す  */
    justify-content: center;
    align-items: center;
    height: 120px; /* .summaryArea > span の高さが50の為 ２項目分の行となる */
    box-sizing: border-box;
}
/* 1項目ごとの共通設定 */
.summaryArea > span {
    height: 55px;
    width: 90px;
    box-sizing: border-box;
    display: block;
}
/* １項目内にあるa要素はブロック要素にする */
.summaryArea > span > a {
    display: block;
    vertical-align: middle;
}
/* 表名称項目 2行分の高さと幅調整 */
.summaryArea > span:nth-child(1) {
    height: 110px;
    width: 180px;
}

.summaryArea > span:nth-child(1) .requiredMark::after {
    margin-top: -0.8em !important;
}
/* 合計項目 2行分の高さと調整 */
.summaryArea > span:nth-child(2) {
    height: 110px;
}

.summaryArea > span:nth-child(2) > a:nth-child(2) {
    background-color: rgb(240, 240, 240);
    border: 1px solid darkgray;
    border-radius: 5px;
    height: 86px;
}
/* 合計項目のテキストボックス高さ調整 */
.summaryArea > span:nth-child(2) input[type=text] {
    border-color: transparent; /* rgb(240, 240, 240);*/
}
/* 合計表内のテキストボックスの文字はすべて右寄せ */
.summaryArea input[type=text] {
    width: 100%;
    text-align: right;
    height: 32px;
}
/* 表名称を除き項目名は中央寄せ */
.summaryArea > span:nth-child(n + 2) > a:nth-child(1) {
    text-align: center;
}

#pnlListArea {
    position: static;
    min-height: 90px;
    height: 100%;
}

.listWrapper {
    position: relative;
    height: calc(100% - 48px);
    width: calc(100% - 20px);
    padding-bottom: 12px;
    margin-left: 20px;
}
/* 上部の入力欄の項目名の右寄せ */
#WF_DEPDATE_LABEL, #WF_ARRSTATION_LABEL,
#WF_ARRDATE_LABEL, #WF_ACCDATE_LABEL {
    text-align: right;
}
