/* 貨車連結順序表検索画面*/
/*空車発駅コード見出し*/
#WF_DEPSTATION_LABEL {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(15% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
}

/*空車発駅コードinput tag*/
#WF_DEPSTATION {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(19% - 50px/2);
    left: calc(46% - 140px/2);
}

    #WF_DEPSTATION input[type='text'] {
        Height: 2.1em;
        Width: 10em;
    }

/*空車発駅名称*/
#WF_DEPSTATION_TEXT {
    position: fixed;
    top: calc(20% - 50px/2);
    left: calc(55% - 50px/2);
}

/*開始年月日見出し*/
#WF_STYMD_LABEL {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(27% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
}

/*開始年月日input tag*/
#WF_STYMD {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(31% - 50px/2);
    left: calc(46% - 140px/2);
}

    #WF_STYMD input[type='text'] {
        Height: 2.1em;
        Width: 10em;
    }

/*終了年月日見出し*/
#WF_ENDYMD_LABEL {
    position: fixed;
    height: 50px;
    width: 70px;
    top: calc(36% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
}

/*終了年月日input tag*/
#WF_ENDYMD {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(39% - 50px/2);
    left: calc(46% - 140px/2);
}

    #WF_ENDYMD input[type='text'] {
        Height: 2.1em;
        Width: 10em;
    }

/*本線列車番号見出し*/
#WF_TRAINNO_LABEL {
    position: fixed;
    height: 50px;
    width: 70px;
    top: calc(48% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
}

/*本線列車番号input tag*/
#WF_TRAINNO {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(52% - 50px/2);
    left: calc(46% - 140px/2);
}

    #WF_TRAINNO input[type='text'] {
        Height: 2.1em;
        Width: 10em;
    }

/*本線列車番号名称*/
#WF_TRAINNO_TEXT {
    position: fixed;
    top: calc(53% - 50px/2);
    left: calc(55% - 140px/2);
}

/*ステータス見出し*/
#WF_SW_LABEL {
    position: fixed;
    height: 50px;
    width: 140px;
    top: calc(60% - 50px/2);
    left: calc(43.5% - 70px/2);
    color: #737373;
}

/*ステータスボタン配置*/
#checkbox {
    position: fixed;
    height: 35px;
    top: calc(64% - 50px/2);
    left: calc(43.5% - 70px/2);
}

/*左Boxオープン用虫眼鏡アイコン*/
.BoxIcon {
    background-image: url(../img/leftbox.png);
    background-repeat: no-repeat;
    background-position: 1px;
}

/*カレンダーオープン用アイコン*/
.CalendarIcon {
    background-image: url(../img/calendar.png);
    background-repeat: no-repeat;
    background-position: 1px;
}

/* ラジオボタン*/
*, *::before, *::after {
    box-sizing: border-box;
}


.inline-radio {
    display: flex;
    border-radius: 0.1em;
    overflow: hidden;
    border: 0.0625em solid #b6b6b6;
}

.inline-radio div {
    position: relative;
    flex: 1;
}

.inline-radio input {
    height: 1.05em;
    width: 8.65em;
    opacity: 0;
}

.inline-radio label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  /*  border-right: 0.1em solid #b6b6b6;*/
}

.inline-radio div:last-child label {
    border-right: 0;
}

    .inline-radio input:checked + label {
        background: rgba(176, 176, 276, 0.6);
        font-weight: 500;
        color: #737373;
    }
