body {
}
/* テキストボックス補正 */
input[type=text] {
    height: 1.6em;
    font-size: 13.5px;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
}

.boxIconArea div, .calendarIconArea div {
    margin-top: calc(100% - 12.5px);
}
/* アイコン位置補正 */
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div, .boxIconArea div {
        margin-top: calc(100% - 12px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 12.5px);
}
#divContensbox {
    height: calc(100% - 2.4em - 1.4em);
}
/* コンテンツの最小横幅 */
.headerbox, .detailbox {
    min-width: 1220px;
}

.detailbox a {
    font-size: 12.8px;
}

.headerbox a {
    font-size: 0.8em;
}

.headerbox a > input[readonly] {
    background-color: #e6f1e6;
}

.headerbox a.ef > span > div.boxIconArea {
    top: -5px;
}

.actionButtonBox {
    padding: 5px;
}

.headerbox .actionButtonBox div.costHeaderBox {
    display:inline-block;
}

.headerbox .actionButtonBox div.costHeaderBox p {
    display: inline-block;
    background-color: lightyellow;
}

.headerbox .actionButtonBox div.costHeaderBox p#WF_OFFICENAME_LABEL {
    width: 150px;
}

.headerbox .actionButtonBox div.costHeaderBox p#WF_KEIJYOYM_LABEL {
    width: 86px;
}

.headerbox .actionButtonBox div.costHeaderBox span {
    padding-left: 5px;
    font-size: 2.0rem;
}

#headerDispArea {
    padding-left: 20px;
    padding-bottom: 10px;
}

.headerDetail {
    display: flex;
    flex-wrap: wrap;
    width: 1190px;
    box-sizing: border-box;
}

/* 1項目のサイズ */
.headerDetail > span {
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    margin: 1px;
}

.headerDetail > span.left {
    width: 250px;
}
.headerDetail > span.doubleItem {
    width: 460px;
}
.headerDetail > span.full {
    width: 1170px;
}

.headerDetail > span > a {
    display: inline-block;
    text-align:right;
    vertical-align: middle;
    padding: 1px;
}
/* ヘッダー入力欄の項目名 */
.headerDetail > span > a:nth-child(1) {
    width: 65px;
}
/* 最も左に来る列の項目名サイズ */
.headerDetail > span.left > a:nth-child(1),
.headerDetail > span.doubleItem > a:nth-child(1),
.headerDetail > span.full > a:nth-child(1) {
    width: 105px;
}

/* 入力ボックス */
.headerDetail > span > a:nth-child(2) {
    width: 140px;
    white-space: nowrap;
    overflow: hidden;
}

.headerDetail > span.doubleItem > a:nth-child(2) {
    width: 365px;
}

.headerDetail > span.full > a:nth-child(2) {
    width: 1080px;
}

.headerDetail > span > a:nth-child(2) input[type=text] {
    width: 100% !important;
}   

/* 明細 */
#detailbox {
    height: calc(100% - 275px);
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    overflow-y: scroll
}

table#WF_COSTDETAILTBL, table#WF_COSTDETAILTBL th, table#WF_COSTDETAILTBL td {
    border: solid 1px #2bb6c1;
}

table#WF_COSTDETAILTBL th {
    height: 18px;
    background-color: #2bb6c1;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

table#WF_COSTDETAILTBL span#WF_COSTDETAILTBL_DETAILNO {
    padding-right: 3px;
    text-align: right;
    display: inline-block;
    width: 20px;
}

table#WF_COSTDETAILTBL td.WF_COSTDETAILTBL_TD2 {
    text-align:center;
}

table#WF_COSTDETAILTBL span#WF_COSTDETAILTBL_CHECKFLG {
    width: 40px;
    display: inline-block;
}

table#WF_COSTDETAILTBL select[id^="WF_COSTDETAILTBL_"],
table#WF_COSTDETAILTBL span[id^="WF_COSTDETAILTBL_"],
table#WF_COSTDETAILTBL input[id^="WF_COSTDETAILTBL_"] {
    font-size: 0.9em;
}

table#WF_COSTDETAILTBL select#WF_COSTDETAILTBL_CONSIGNEENAMELIST {
    width: 144px;
}

table#WF_COSTDETAILTBL select#WF_COSTDETAILTBL_ORDERINGOILNAMELIST {
    width: 80px;
}

table#WF_COSTDETAILTBL input[type=text] {
    text-align: right;
    padding-right: 3px;
    width: 114px;
}

table#WF_COSTDETAILTBL td.WF_COSTDETAILTBL_TD11,
table#WF_COSTDETAILTBL td.WF_COSTDETAILTBL_TD12 {
    text-align: right;
    padding-right: 3px;
    width: 114px;
}

table#WF_COSTDETAILTBL input[id=WF_COSTDETAILTBL_TEKIYOU] {
    text-align: left;
    padding-left: 3px;
    width: 570px;
}
