/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr {
    height: 37px;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr {
    height: 37px;
}

/* 左(固定データテーブル用)DIV */
div[data-generated="1"] div[id$="_DL"] {
    top: 37px;
}
/* 右(可変データテーブル用)DIV */
div[data-generated="1"] div[id$="_DR"] {
    top: 37px;
}

/* 受付情報のツールチップをOFFにする */
/* ### 20200807 START ツールチップOFFを解除 ###
div[data-generated="1"] td:nth-child(4) {
    pointer-events: none;
}
   ### 20200807 END   ツールチップOFFを解除 ### */
/* Operetion枠の左マージンを個別指定 */
.Operation {
    margin-left: 0.7em;
}
/* 横スクロールを出す最小幅を個別指定 */
.headerboxOnly {
    min-width: 750px; /* (共通指定 650pxだと小さすぎる為) */
}
/* 帳票ポップアップ個別指定*/
#txtReportLodDate{
    width: 150px !important;
}
#txtReportRTrainNo {
    width: 150px !important;
}
#txtReportTrainNo {
    width: 150px !important;
}

.calendarIconArea div {
    margin-top: calc(100% - 14px) !important;
}
.boxIconArea div {
    margin-top: calc(100% - 14px) !important;
}
/* ポップアップボタン3列から4列に変更 */
#divContentsPopUp {
    width: 650px; /* 共通は500pxから変更 */
    min-width: 650px;
    margin-left: calc(50vw - 325px) /* 中央位置表示位置も横幅アップの為calc(50vw - 250px)から調整 */
}
#divContentsPopUp .grc0001Wrapper ul {
    width:600px; /* 共通は450px で３列折り返しから４列折り返しに */
}
.grc0001Wrapper input[type=checkbox] + label {
    display: inline-flex;
}