#divContensbox {
    //overflow-x:hidden;
}
.headerboxOnly {
    padding: 10px;
    position: static;
    overflow: auto;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
#divConditionArea {
    min-width:650px;
}
.conditionWrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
}
.conditionItem {
    background-color: rgb(237,237,237);
    width: 310px;
    min-width: 310px;
    margin: 5px;
    overflow: hidden;
}

.conditionItem .conditionName{
    color:rgb(64,64,64);
    height:37px;
    line-height:37px;
    font-size:32px;
    font-weight:bold;
    letter-spacing:0.3em;
    margin-top:5px;
    margin-left:5px;
    margin-bottom:5px;
}
.conditionItem .valueName{
    color:rgb(117,113,113);
    font-size:18px;
    margin-left:60px;
    padding:5px;
    padding-bottom:0;
    width:calc(100% - 70px);
}
.conditionItem .value{
    color:rgb(0,32,96);
    font-size:40px;
    //margin-left:65px;
    margin-right:65px;
    padding:5px;
    padding-top:0;
    width:calc(100% - 75px);
    text-align:right;
    //word-spacing:0px;
}
.conditionItem .button{
    //margin-left:30px;
    padding:5px;
    width:calc(100% - 10px);
    text-align:center;
    margin-bottom:5px;
}
.conditionItem .button input[type=button] {
    width:calc(100% - 50px);
    vertical-align :middle;
    font-size:24px;
    letter-spacing:0.2em;
    font-weight:bold;
    height:40px;
    background-color:rgb(46,117,182);
    color:rgb(255,255,255);
    border:1px solid rgb(46,117,182);
    box-shadow:none;
    border-radius :2px;
}
.conditionItem .button input[type=button]:hover {
    background-color: rgb(255,255,255);
    color:rgb(46,117,182);
    border: 1px solid rgb(46,117,182);
}
.conditionItem .button input[type=button]:disabled {
    background-color:gray;
    color:rgb(255,255,255);
    border:1px solid gray;
}