#WF_ButtonOtSend,
#WF_ButtonReserved,
#WF_ButtonTakusou {
    padding-left: 15px;
    padding-right: 15px;
}
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr {
    height: 37px;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr {
    height: 37px;
}

/* 左(固定データテーブル用)DIV */
div[data-generated="1"] div[id$="_DL"] {
    top: 37px;
}
/* 右(可変データテーブル用)DIV */
div[data-generated="1"] div[id$="_DR"] {
    top: 37px;
}

/* 受付情報のツールチップをOFFにする */
/* ### 20200807 START ツールチップOFFを解除 ###
div[data-generated="1"] td:nth-child(4) {
    pointer-events: none;
}
   ### 20200807 END   ツールチップOFFを解除 ### */
/* Operetion枠の左マージンを個別指定 */
.Operation {
    margin-left: 0.7em;
}
/* 横スクロールを出す最小幅を個別指定 */
.headerboxOnly {
    min-width: 1110px; /* (共通指定 650pxだと小さすぎる為) */
}
/* 帳票ポップアップ個別指定*/
#txtReportLodDate{
    width: 150px !important;
}
#txtReportRTrainNo {
    width: 150px !important;
}

.calendarIconArea div {
    margin-top: calc(100% - 10px) !important;
}
.boxIconArea div {
    margin-top: calc(100% - 10px) !important;
}
a.ef {
    height: 30px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}
a.ef input {
    height:28px;
}
.rightSide {
    height:31.3px;
}
.filterDateFiledWrapper {
    display:inline-block;
    height:25px;
    vertical-align:middle;
}
.filterDateFiledWrapper td {
    vertical-align: middle;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
}
.filterDateFiledWrapper input[type=radio] {
    /* margin-top: 2px; */
    margin-left: 5px;
    margin-right: 5px;
    /* height: 15px; */
    cursor: pointer;
}
.filterDateFiledWrapper input[type=radio] + label {
    cursor:pointer;
    //display:inline-block;
    //height:20px;
}
.filterDateFiledWrapper input[type=radio]:checked + label {
    color:darkcyan;
}
#rblFilterDateFiled {
    height:100%;
}