body {
}

.btn-office {
    text-decoration: none;
    height: 35px;
    width: 8.9%;
    line-height: 23px;
    text-align: center;
    color: #2bb6c1;
    border-top: solid 1px #2bb6c1;
    border-bottom: solid 1px #2bb6c1;
    border-left: solid 1px #2bb6c1;
    border-right: solid 0px;
    transition: 0.3s;
    font-size: 0.9em;
}

.btn-office:disabled {
    background-image: none;
    background-color: #ccc;
    border-color: #2bb6c1;
   
    color: #fff;
}

.btn-office.selected {
    background: #2bb6c1;
    color: #fff;
}

.btn-office.last {
    border-right: solid 1px #2bb6c1;
}

input#WF_DL_TRASPORTCOSTSDETAIL {
    margin-left: 20px;
}

.memo_text {
    min-height: 1.0em;
}

div.headerbox, div.detailbox {
    min-width: 1220px;
}

div.detailbox {
    height: calc(100% - 40px);
}

div.detail_keijoym {
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 6px;
}

div.detail_keijoym > :nth-child(5n+1) {
    vertical-align: middle;
    display: inline-block;
    width: 9.4%;
}

div.detail_keijoym > :nth-child(5n+2) {
    vertical-align: middle;
    display: inline-block;
    width: 9.8%;
}

div.detail_keijoym > :nth-child(5n+3) {
    vertical-align: middle;
    display: inline-block;
    width: 7.2%;
    font-size: 0.8em;
    /*
    color: #2e75b6;
    background-color: #deebf7;
    border: solid #5b9bd5 1px;
    */
}

div.detail_keijoym > :nth-child(5n+4) {
    vertical-align: middle;
    display: inline-block;
    width: 7%;
    margin-right:5px;
}

div.detail_keijoym > :nth-child(5n+5) {
    vertical-align: top;
    display: inline-block;
    width: 64.9%;
}

div.detail_costlist {
    box-sizing: border-box;
    height: calc(100% - 149px);
    margin-top: 8px;
    /*margin-bottom: 8px;*/
    margin-left: 20px;
    font-size: 0.9em;
    overflow: auto;
}

/*
  Chromeだと横スクロールバーが表示されない為、上書き
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    div.detail_costlist {
        height: calc(100% - 166px);
    }
}

table#WF_COSTLISTTBL, table#WF_COSTLISTTBL th, table#WF_COSTLISTTBL td {
    border: solid 1px #2bb6c1;
}


th[class^="WF_COSTLISTTBL_TH"] {
    height: 18px;
    background-color: #2bb6c1;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

div.detail_costlist span[id^="WF_COSTLISTTBL_"], input[id^="WF_COSTLISTTBL_"] {
    font-size: 0.9em;
}

div.detail_costlist td[class^="WF_COSTLISTTBL_TD"] div.boxIconArea div {
    margin-top: 0px;
}

td.WF_COSTLISTTBL_TD2, td.WF_COSTLISTTBL_TD3 {
    text-align: center;
    vertical-align: middle;
}

div#RowOperationBox {
    margin-left: 20px;
    padding-right: 33px;
}

.btn-detail {
    text-decoration: none;
    height: 18px;
    width: 80px;
    line-height: 16px;
    text-align: center;
    color: #2bb6c1;
    border: solid 1px #2bb6c1;
    transition: 0.3s;
    font-size: 0.8em;
    margin-right: 2px;
    margin-left: 2px;
}

.btn-detail:hover {
    background: #2bb6c1;
    color: #fff;
}

.btn-detail:disabled {
    background-image: none;
    background-color: #ccc;
    border-color: #ccc;
    color: #2bb6c1;
}

span#WF_COSTLISTTBL_LINE {
    padding-right:3px;
    text-align: right;
    display: inline-block;
    width: 20px;
}

span.WF_COSTLISTTBL_CHECKFLG {
    width: 40px;
    display: inline-block;
}

span.WF_COSTLISTTBL_CALCACCOUNT {
    width: 85px;
    display: inline-block;
}

input#WF_COSTLISTTBL_ACCOUNTCODE {
    width: 112px;
    padding-left:25px;
}

input#WF_COSTLISTTBL_INVOICECODE, input#WF_COSTLISTTBL_PAYEECODE {
    width: 128px;
    padding-left: 25px;
}

span#WF_COSTLISTTBL_SEGMENTCODE {
    width: 80px;
    padding-left: 2px;
    letter-spacing: 1px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
}

span#WF_COSTLISTTBL_SHIPPERSNAME {
    padding-left: 2px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 1px;
    width: 128px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

span#WF_COSTLISTTBL_SEGMENTBRANCHNAME {
    padding-left: 2px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 1px;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input#WF_COSTLISTTBL_AMOUNT {
    width: 112px;
    padding-right: 3px;
    text-align: right;
}

span#WF_COSTLISTTBL_TAX {
    width: 94px;
    padding-right: 3px;
    letter-spacing: 1px;
    text-align: right;
    vertical-align: middle;
    display: inline-block;
}

span#WF_COSTLISTTBL_INVOICENAME, span#WF_COSTLISTTBL_PAYEENAME, span#WF_COSTLISTTBL_INVOICEDEPTNAME, span#WF_COSTLISTTBL_PAYEEDEPTNAME {
    padding-left: 2px;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    letter-spacing: 1px;
    width: 208px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input#WF_COSTLISTTBL_ABSTRACT {
    width: 216px;
}

td.footerCells {
    height: 22px;
    vertical-align: middle;
    font-size: 0.9em;
    letter-spacing: 1px;
}

td.text {
    padding-right: 3px;
    text-align: right;
}

td.withicon {
    padding-left: 25px;
    text-align: left;
}

td.noicon {
    padding-left: 2px;
    text-align: left;
}

span.inv_pay {
    display: inline-block;
    width: 208px;
    letter-spacing: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

td.money {
    padding-right: 3px;
    text-align: right;
}