#WF_ButtonOtSend,
#WF_ButtonReserved,
#WF_ButtonTakusou {
    padding-left: 15px;
    padding-right: 15px;
}
/* 左ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HL"] table tr {
    height: 37px;
}

/* 右ヘッダー行スタイル */
div[data-generated="1"] div[id$="_HR"] table tr {
    height: 37px;
}

/* 左(固定データテーブル用)DIV */
div[data-generated="1"] div[id$="_DL"] {
    top: 37px;
}
/* 右(可変データテーブル用)DIV */
div[data-generated="1"] div[id$="_DR"] {
    top: 37px;
}

/* 受付情報のツールチップをOFFにする */
/* ### 20200807 START ツールチップOFFを解除 ###
div[data-generated="1"] td:nth-child(4) {
    pointer-events: none;
}
   ### 20200807 END   ツールチップOFFを解除 ### */
/* Operetion枠の左マージンを個別指定 */
.Operation {
    margin-left: 0.7em;
}
/* 横スクロールを出す最小幅を個別指定 */
form.btnCnt1 .headerboxOnly {
    min-width: 1100px; /* (共通指定 650pxだと小さすぎる為) */
}
form.btnCnt2 .headerboxOnly {
    min-width: 1230px; /* (共通指定 650pxだと小さすぎる為) */
}
form.btnCnt3 .headerboxOnly {
    min-width: 1365px; /* (共通指定 650pxだと小さすぎる為) */
}
/* 帳票ポップアップ個別指定*/
#txtReportLodDate{
    width: 150px !important;
}
#txtReportRTrainNo {
    width: 150px !important;
}

.calendarIconArea div {
    margin-top: calc(100% - 10px) !important;
}
.boxIconArea div {
    margin-top: calc(100% - 10px) !important;
}
a.ef {
    height: 30px;
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}
a.ef input {
    height:28px;
}
.rightSide {
    height:31.3px;
}
.filterDateFiledWrapper {
    display:inline-block;
    height:25px;
    vertical-align:middle;
}
.filterDateFiledWrapper td {
    vertical-align: middle;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
}
.filterDateFiledWrapper input[type=radio] {
    /* margin-top: 2px; */
    margin-left: 5px;
    margin-right: 5px;
    /* height: 15px; */
    cursor: pointer;
}
.filterDateFiledWrapper input[type=radio] + label {
    cursor:pointer;
    //display:inline-block;
    //height:20px;
}
.filterDateFiledWrapper input[type=radio]:checked + label {
    color:darkcyan;
}
#rblFilterDateFiled {
    height:100%;
}
/* ************************** */
/* 変更指示確認ボックス関連   */
/* ************************** */
/* 初期は非表示 */
#divModFileDlList {
    display: none;
    pointer-events: none;
}
/* 初期は非表示 */
#divModFileDlList.showModFileDlConfirm {
    padding:5px;
    display:block;
    position:absolute;
    top:0;
    background-color:white;
    width:100%;
    height:100%;
    z-index:10;
    pointer-events:auto;
}
#divModFileDlList .actionButtonBox {
    width:100vw;
}
#divModFileDlList #divInputResultWrapper {
    width:calc(100% - 5px);
    height:calc(100% - 35px);
    overflow:auto;
}
#divModFileDlList .updateList {
    //height: calc(100% - 20px);
    margin-bottom:20px;
    min-height:410px;
}
#btnCloseModDownLoadConfirm {
    margin-right: 10px;
}
.tblUpdList {
    border-collapse :collapse;
    table-layout:fixed;
} 
.tblUpdList th,
.tblUpdList td {
    padding: 5px;
    vertical-align :middle;
    border:1px solid gray;
}
.tblUpdList td { 
    vertical-align :top;
}
.tblUpdList td.updChk {
    text-align:center;
    vertical-align :middle;
} 
.tblUpdList th.updChk {
    width:32px;
}
.tblUpdList th.reservedNo {
    width:100px;
}
.tblUpdList th.trnNo {
    width:90px;
}
.tblUpdList th.oilName {
    width:80px;
}
.tblUpdList th.amount {
    width:50px;
}
.tblUpdList th.reason {
    width:150px;
}
.tblUpdList th.dbReservedNo {
    width:65px;
}
.tblUpdList th.trainNo {
    width:65px;
}
.tblUpdList th.lodDate,
.tblUpdList th.depDate{
    width:90px;
}

.tblUpdList th {
    background-color:rgb(189,215,238);
}
.tblUpdList th.db {
    background-color:rgb(248,203,173);
}
.tblUpdList td.amount {
    text-align:right;
}
.tblUpdList tr.delFalg1 td {
    background-color:lightgray ;
}
/* 画面上部のボタンエリアを二段表示 */
.Operation #pnlReserveModActionBox {
    display: none;
}
.showModMode .Operation #pnlReserveModActionBox {
    display: block;
}
.showModMode .Operation {
    height: 3.2em;
}
.showModMode .Operation #WF_ButtonReserveMod {
    width:auto;
    padding-left:5px;
    padding-right:5px;
}
.showModMode .Operation input[type=checkbox] {
    margin-left:10px;
    margin-right:5px;
}
#chkShowCanceldOrder + label[for='chkShowCanceldOrder'] {
    margin-top:-2px;
}
#chkShowCanceldOrder:checked + label[for='chkShowCanceldOrder'] {
    color: darkcyan;
}
/* 一覧表のキャンセルオーダーの色 */
#pnlListArea tr[data-cancelorder='1'] td,
#pnlListArea tr[data-cancelorder='1'] th
{
    background-color: gray;
    color: black;
}
#pnlListArea tr[data-cancelorder='1'].hover td,
#pnlListArea tr[data-cancelorder='1'].hover th {
    background-color: darkgrey !important;
    color: white;
}
/* ************************** */
/* OT発送日報送信確認ボックス関連   */
/* ************************** */
/* 初期は非表示 */
#divOTLinkageSendList {
    display: none;
    pointer-events: none;
}
/* 初期は非表示 */
#divOTLinkageSendList.showOTLinkageSendConfirm {
    padding:5px;
    display:block;
    position:absolute;
    top:0;
    background-color:white;
    width:100%;
    height:100%;
    z-index:10;
    pointer-events:auto;
}
#divOTLinkageSendList .actionButtonBox {
    width:100vw;
}
#divOTLinkageSendList #divInputOTResultWrapper {
    width:calc(100% - 5px);
    height:calc(100% - 35px);
    overflow:auto;
}
#divOTLinkageSendList .updateList {
    margin-bottom:20px;
    min-height:410px;
}
#btnCloseOTLinkageSendConfirm {
    margin-right: 10px;
}
.tblUpdOTList {
    border-collapse: collapse;
    table-layout: fixed;
} 
.tblUpdOTList th,
.tblUpdOTList td {
    padding: 5px;
    vertical-align :middle;
    border:1px solid gray;
}
.tblUpdOTList td { 
    vertical-align :top;
}
.tblUpdOTList td.officeName {
    width:90px;
}
.tblUpdOTList td.sendYMD {
    width:80px;
}
.tblUpdOTList td.trainNo {
    width:50px;
}
.tblUpdOTList td.shipOrder {
    width:70px;
}
.tblUpdOTList td.depStation {
    width:65px;
}
.tblUpdOTList td.arrStation {
    width:100px;
}
.tblUpdOTList td.shippersName {
    width:65px;
}
.tblUpdOTList td.oilName {
    width:80px;
}
.tblUpdOTList td.tankNo {
    width:65px;
}
.tblUpdOTList td.amount {
    width:65px;
}

.tblUpdOTList th {
    background-color:rgb(189,215,238);
}
/*.tblUpdList th.db {
    background-color:rgb(248,203,173);
}
.tblUpdList td.amount {
    text-align:right;
}
.tblUpdList tr.delFalg1 td {
    background-color:lightgray ;
}*/