#divContensbox {
    overflow-x:hidden;
}
.headerboxOnly {
    padding: 10px;
    position: static;
    overflow: auto;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}
/* 各表名称のDiv */
.listTitle {
    margin-top:10px;
}
/* 上部テキストボックス */
#WF_INVENTORYDAYS {
    height: 24px;
    margin: 0;
    padding-top: 1px;
    padding-bottom: 0px;
    width:80px;
    text-align :right;
}
/* ********** */
/* 提案表定義 */
/* ********** */
/* 提案表全体のボックス */
#divSuggestList {
    display: flex;
    box-sizing: border-box;
}
/* 提案表の全てのDivタグ */
#divSuggestList div {
    height:24px; /* 高さ調整する場合、aspx(html)のheight計算を自動で行ってる箇所も修正 */
    box-sizing: border-box;
}
/* 提案表の全てのテキストボックス */
#divSuggestList input[type=text] {
    text-align:right;
    box-sizing: border-box;
    height:calc(100% - 2px);
    width:calc(100% - 2px);
    padding-top:0px;
    padding-bottom:0px; 

}
/* 提案表の文言「内訳」 */
#divSuggestList div.leftColumn div:nth-child(1) {
    height:calc(24px * 3);
}
/* 提案表直下のDivタグ */
#divSuggestList > div {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}
#divSuggestList > .leftColumn {
    flex-flow:column wrap; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: stretch; 
    align-content: stretch;
}
#divSuggestList > .leftColumn > div:last-child {
    height: calc(24px * 9); 
    border-bottom: 1px solid darkgray !important; 
    display:block !important;
}
/* 提案表2列目の油種などの文言幅 */
#divSuggestList > div.oilTypeColumn {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}
/* 提案表全体の枠調整、左に見えないボックスを追加し各項目が伸縮しないようにする */
#divSuggestList > div:last-child {
    margin-left:auto;
}
    /* 提案表日付ごとの列車No～テキストボックスをくくるDiv */
#divSuggestList > div.dataColumn > div.values {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:auto;
}
/* 提案表列車No、油種チェックボックス、油種ごとのテキストボックスセルの幅 */
#divSuggestList > div.dataColumn > div.values > div {
    width:60px;
    min-width:60px;
    max-width:60px;
}
/* 提案表列車Noが7個に増えた場合は下の規則性にそって増幅させてください */
/* 提案表列車Noが6個来た場合の設定 */
#divSuggestList > div.dataColumn.dataColumn.has6Col{
    /* #divSuggestList > div.dataColumn > div.values > div のWidthと合わせ６倍 */
    width : calc(60px * 6);
    min-width: calc(60px * 6);
    max-width: calc(60px * 6);
    display:flex;
    flex-wrap:wrap;
}
/* 提案表列車Noが5個来た場合の設定 */
#divSuggestList > div.dataColumn.dataColumn.has5Col{
    /* #divSuggestList > div.dataColumn > div.values > div のWidthと合わせ５倍 */
    width : calc(60px * 5);
    min-width: calc(60px * 5);
    max-width: calc(60px * 5);
    display:flex;
    flex-wrap:wrap;
}
/* 提案表列車Noが4個来た場合の設定 */
#divSuggestList > div.dataColumn.dataColumn.has4Col{
    /* #divSuggestList > div.dataColumn > div.values > div のWidthと合わせ４倍 */
    width : calc(60px * 4);
    min-width: calc(60px * 4);
    max-width: calc(60px * 4);
    display:flex;
    flex-wrap:wrap;
}
/* 提案表列車Noが3個来た場合の設定 */
#divSuggestList > div.dataColumn.dataColumn.has3Col{
    /* #divSuggestList > div.dataColumn > div.values > div のWidthと合わせ３倍 */
    width : calc(60px * 3);
    min-width: calc(60px * 3);
    max-width: calc(60px * 3);
    display:flex;
    flex-wrap:wrap;
}
/* 提案表列車Noが2個来た場合の設定 */
#divSuggestList > div.dataColumn.dataColumn.has2Col{
    /* #divSuggestList > div.dataColumn > div.values > div のWidthと合わせ２倍 */
    width : calc(60px * 2);
    min-width: calc(60px * 2);
    max-width: calc(60px * 2);
    display:flex;
    flex-wrap:wrap;
}
/* 提案表列車Noが1個来た場合の設定 */
/* 60pxだと狭すぎて日付がつぶれるので調整する */
#divSuggestList > div.dataColumn.has1Col > div.values > div {
    width:110px;
    min-width:110px;
    max-width:110px;
}
#divSuggestList > div.dataColumn.dataColumn.has1Col {
    width: 110px;
    min-width: 110px;
    max-width: 110px;
    display: flex;
    flex-wrap: wrap;
}
/* 提案表日付データ幅 一杯に伸ばす */
#divSuggestList .suggestDate{
    width:100%;
}
/* *********************** */
/* 提案表 文字位置設定     */
/* *********************** */
#divSuggestList .suggestDate,
#divSuggestList .values > div {
    text-align:center;
}
#divSuggestList .values input[type=checkbox]{
    margin-top:3px;
}
/* *********************** */
/* 提案表 罫線設定         */
/* *********************** */
/* 提案表 罫線 */
#divSuggestList div.leftColumn div,
#divSuggestList div.oilTypeColumn div,
#divSuggestList div.suggestDate,
#divSuggestList div.values div {
    padding-top:2px;
    padding-left:3px;
    border:1px solid darkgray; /* 太さ色はここで調整 */
}
/* BOX同士の重なりで線が太くなってしまうので調整 */
#divSuggestList div.leftColumn div
{
    border-right:0px;
}
#divSuggestList div.leftColumn div:last-child {
  /*  display:none; */
}
#divSuggestList div.leftColumn div:not(:nth-child(1)),
#divSuggestList div.oilTypeColumn div:not(:nth-child(1)){
    border-top:0px;
}
#divSuggestList div.oilTypeColumn div {
    border-right:0px;
}
#divSuggestList div.leftColumn div:nth-child(n+2):not(:nth-last-child(2)) {
    border-bottom:0px;
}
#divSuggestList div.values div {
    border-top:0px;
    border-right: 0px;
}
#divSuggestList div:not(:nth-last-child(2)).dataColumn div.suggestDate
{
   border-right: 0px;
}
#divSuggestList div:nth-last-child(2).dataColumn div.values:last-child div
{
    border-right: 1px solid darkgray;
}
/* *********************** */
/* 比重表 設定             */
/* *********************** */
#weightListContainer {
    display:flex;
    flex-wrap:nowrap;
}
/* 一列の幅定義 */
#weightListContainer > div {
    width:90px;
    min-width: 90px;
    max-width: 90px;
    box-sizing:border-box;
}
/* 全セルの線、内部テキストとの間隔調整 */
#weightListContainer > div:not(:last-child) > div {
    padding:2px;
    border:1px solid darkgray;
}
#weightListContainer > div > div:last-child {
    border-top:0;
}
#weightListContainer > div:not(:nth-last-child(2)) > div{
    border-right:0;
}
#weightListContainer > div:last-child {
    width:auto;
    min-width:0;
    max-width: none;
    margin-left:auto;
}
#weightListContainer > div > div.weightListOilType {
    text-align:center;
}
#weightListContainer > div > div.weightListValue {
    text-align:right;
}
div.weightListOilType {
    height:24px;
}
/* *********************** */
/* 在庫表 設定             */
/* *********************** */
#pnlStockList {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#divStockList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#divStockList,
#divStockList div{
    box-sizing:border-box;
    //padding:2px;
}
#divStockList > div.header,
#divStockList > div.oilTypeData {
    display:flex;
    flex-wrap: nowrap;
    //border:1px solid darkgray; /* 暫定 */
}
#divStockList div.lastMargin {
    margin-left:auto;
}
/* マイナス金額の場合強調表示 */
span.minus {
    color:red;
}
/* ヘッダー行 日付（文言）、日付関連 */
/* データ行の１～６列目の幅を足す
   ※余白要素があるので手動でバランスとる */
#divStockList div.emptyBox {
    //width:411px;
    width:calc(90px + 85px + 70px + 85px + 70px + 95px);
    min-width:calc(90px + 85px + 70px + 85px + 70px + 95px);
}
#divStockList > div.header > div.headerDate {
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
#divStockList > div.header > div.headerDate div.dateItem {
    display:flex;
    flex-wrap: nowrap;
}
#divStockList div.oilTypeData {
    align-items: stretch
}
/* 一列目 油種文言 */
#divStockList div.col1 {
    width:90px;
    min-width:90px;
}
/* 二列目 ～ 四列目 調整 */
#divStockList div.col2,
#divStockList div.col3,
#divStockList div.col4,
#divStockList div.col5{
    width:85px;
    min-width:85px;
    //text-align:center;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
#divStockList div.col3,
#divStockList div.col5{
    width:70px;
    min-width:70px;
    text-align:right;
}
#divStockList div.col6 {
    width:95px;
    min-width:95px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
}
#divStockList div.colStockInfo.date, 
#divStockList div.colStockValue > div {
    text-align:center;
    width:105px;
    min-width:105px;
}
#divStockList div.colStockValue > div {
    text-align:right;
}
    /* #divStockList div.colStockValue > div:not(:nth-child(5)) */
#divStockList div.colStockValue > div {
    padding-right:8px !important;
}
#divStockList div.col2 > div,
#divStockList div.col3 > div,
#divStockList div.col4 > div,
#divStockList div.col5 > div{
    height:calc(100% / 3);
}
#divStockList div.col2 > div > span,
#divStockList div.col3 > div > span,
#divStockList div.col4 > div > span,
#divStockList div.col5 > div > span{
    display:inline-block;
    //margin-top:calc(100% / 3 - 5px);
}
#divStockList div.col3 > div > span,
#divStockList div.col5 > div > span {
    //margin-top:calc(100% / 3 + 1px);
}
#divStockList div.col3 > div > span,
#divStockList div.col5 > div > span,
#divStockList div.colStockValue > div:not(:nth-child(5)) span {
    display:inline-block;
    margin-top:2px;
}
@media all and (-ms-high-contrast: none) {
    *::-ms-backdrop, 
    #divStockList div.col3 > div > span,
    #divStockList div.col5 > div > span,
    #divStockList div.colStockValue > div:not(:nth-child(5)) span {
        margin-top: 0px;
    }
}
/* 在庫表の表示項目が増えた場合（夕在庫、朝在庫等の行）が増えた場合１油種での行数を height:calc(100% / [ここ]);に設定 */
#divStockList div.col6 > div,
#divStockList div.colStockValue > div{
    height:calc(100% / 8);
    max-height:23.5px;
}
#divStockList div.colStockInfoTopRow {
    max-height:24px;
}
/* 在庫表の全てのテキストボックス */
#divStockList input[type=text] {
    text-align: right;
    box-sizing: border-box;
    height: calc(100% - 1px);
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1em;
    height: 18px;
}
span.morningStockIdx0 {
    margin-top:0px !important; 
}
#divStockList input[type=text][data-textfield="MorningStock"] {
    // height: 18px;
    //line-height:0.8em;
    width:calc(100% + 5.5px);
}
#divStockList input[type=text][name$="txtSend"],
#divStockList input[type=text][name$="txtReceiveFromLorry"] {
    width: calc(100% + 5.5px);
}
/* :not(.col1) > div:last-child > span */
#divStockList div.oilTypeData div[class^="col"] > div > span.stockinputtext,
#divStockList div.oilTypeData div[class^="col"] > div > span[class^="morningStockIdx"] {
    margin-top: 0;
}
/*#divStockList div.oilTypeData div[class^="col"]:not(.col1):not(.col2):not(.col3):not(.col4):not(.col5) > div:last-child > span {
    margin-top: 0;
}*/

/* ************** */
/* 在庫表罫線制御 */
/* ************** */
#divStockList div.col1 div {
    height: 100%;
}
#divStockList div.colStockInfoTopRow,
#divStockList div.col1 div,
#divStockList div.col2 div,
#divStockList div.col3 div,
#divStockList div.col4 div,
#divStockList div.col5 div,
#divStockList div.col6 div,
#divStockList div.colStockInfo.date, 
#divStockList div.colStockValue > div
{
    border: 1px solid darkgray;
    border-right: 0;
    border-bottom:0;
    padding-top:2px;
    padding-left:2px;
    padding-right:2px;
    padding-bottom:1px;
}
#divStockList div.colStockInfo.date:nth-last-child(1),
#divStockList div.colStockValue:nth-last-child(2) > div
{
    border-right: 1px solid darkgray;
}
#divStockList div.oilTypeData:nth-last-child(1) > div{
    border-bottom: 1px solid darkgray;
}
#divStockList div.oilTypeData.lastRow > div {
    border-bottom: 1px solid darkgray;
}
#divStockList div.colStockInfoTopRow {
    border-right: 1px solid darkgray;
}
/* 在庫表の油種ごとの隙間あけて見やすくする場合↓2つ有効化 */
div.oilTypeData {
    margin-bottom: 2px;
}
#divStockList div.oilTypeData > div {
    border-bottom: 1px solid darkgray;
}

@media all and (-ms-high-contrast: none) {
    #divStockList div.header + div.oilTypeData > div.colStockValue > div:last-child {
        //border-bottom: 1px solid darkgray;
    }
}
/* ************************ */
/* 油種表示非表示枠         */
/* ************************ */
#divEmptyBox {
    display: flex;
    flex-wrap: wrap;
}
#divEmptyBox > div {
    font-size: 0.8em;
    border: 1px solid darkgray;
    background-color: #2B8E56;
    color: #FFFFFF;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    border-radius :10px;
    margin-right:2px;
    height:0;
    height:calc(50% - 2px);
    cursor:pointer;
}
#divEmptyBox > div:hover {
    background-color: #8e2b63;
}
div[data-oilcode][data-title='suggestValue'] span[data-tiptext],
div.oilTypeData div.col1 span[data-tiptext] {
    cursor: pointer;
}
/* ************** */
/* 表の色         */
/* ************** */
/* 大見出し色 */
#divStockList div.col1 div,
#divStockList div.colStockInfoTopRow,
#divStockList div.col6 div,
#divStockList div.dateItem div,
#divSuggestList div.oilTypeColumn div,
#divSuggestList div.leftColumn div,
#divSuggestList div.suggestDate,
#divSuggestList div.values div:nth-child(1),
#pnlWeightList div.weightListOilType {
    /* background-color: #2B8E56; */
    background-color: #51986D;
    color: #FFFFFF;
}
/* 見出し色 */
#divStockList div.col2 div,
#divStockList div.col4 div,
#divSuggestList div.values div:nth-child(2){
    background-color:#64A466;
}
/* 付帯情報色 */
#divStockList div.col3 div,
#divStockList div.col5 div{
    background-color:#A6D5AE;
}
/* データ色(１つの油種に対して行が9と奇数なので交互に表示させるためこの記載) 
    「#divStockList div.oilTypeData div.colStockValue div」←単色にするなら
    :nth-child(odd) = 奇数の要素 , :nth-child(even) = 偶数の要素
*/
#divStockList div.oilTypeData:nth-child(odd) div.colStockValue div:nth-child(even),
#divStockList div.oilTypeData:nth-child(even) div.colStockValue div:nth-child(odd){
    background-color: #DEF4E9;
}
/* **************************** */
/* 表の色(油種個別設定)         */
/* **************************** */
/* ハイオク */
#divSuggestList div[data-title=suggestValue][data-oilcode="1001"],
#divStockList div.oilTypeData[data-oilcode="1001"] div.col1 > div {
    color: #14171A;
    background-color: rgb(255,255,0);
}
/* レギュラー */
#divSuggestList div[data-title=suggestValue][data-oilcode="1101"],
#divStockList div.oilTypeData[data-oilcode="1101"] div.col1 > div {
    background-color: rgb(255,192,0);
}
/* 灯油 */
#divSuggestList div[data-title=suggestValue][data-oilcode="1301"],
#divStockList div.oilTypeData[data-oilcode="1301"] div.col1 > div {
    color: #14171A;
    background-color: rgb(255,255,255);
}
/* 未添加灯油 */
#divSuggestList div[data-title=suggestValue][data-oilcode="1302"],
#divStockList div.oilTypeData[data-oilcode="1302"] div.col1 > div {
    color: #14171A;
    background-color: rgb(221,245,253);
}
/* 軽油 */
#divSuggestList div[data-title=suggestValue][data-oilcode="1401"],
#divStockList div.oilTypeData[data-oilcode="1401"] div.col1 > div {
    background-color: rgb(0,176,80);
}
/* 3号軽油 */
#divSuggestList div[data-title=suggestValue][data-oilcode="1404"],
#divStockList div.oilTypeData[data-oilcode="1404"] div.col1 > div {
    background-color: rgb(146,208,80);
}
/* A重油 */
#divSuggestList div[data-title=suggestValue][data-oilcode="2101"],
#divStockList div.oilTypeData[data-oilcode="2101"] div.col1 > div {
    background-color: rgb(0,112,192);
}
/* LSA */
#divSuggestList div[data-title=suggestValue][data-oilcode="2201"],
#divStockList div.oilTypeData[data-oilcode="2201"] div.col1 > div {
    background-color: rgb(0,176,240);
}
/* ****************** */
/* 日付部分の土日編集 */
/* ****************** */
/* 上のみ塗りつぶしパターン */
/* 土曜 */
/*#divSuggestList div.suggestDate.week6,
#divStockList div.dateItem div.week6 {
    background-color:blue;
}*/
/* 日曜 */
/*#divSuggestList div.suggestDate.week0,
#divStockList div.dateItem div.week0 {
    background-color: red;
}*/

/* 曜日文言のみ塗りつぶしパターン */
/* 土曜 */
/*#divSuggestList div.suggestDate.week6 > span > span,
#divStockList div.dateItem div.week6 > span > span {
    color: blue;
}*/
/* 日曜 */
/*#divSuggestList div.suggestDate.week0 > span > span,
#divStockList div.dateItem div.week0 > span > span {
    color: red;
}*/

/* 列塗りつぶしパターン */
/* 土曜 */
#divSuggestList div.dataColumn.week6 > div.suggestDate,
#divSuggestList div.dataColumn.week6 > div.values > div,
#divStockList div.dateItem div.week6,
#divStockList div.oilTypeData div.week6,
#divStockList div.oilTypeData div.week6 > div{
    color: #14171A;
    background-color: rgb(189,215,238) !important;
}
/* 日曜祝日 */
#divSuggestList div.dataColumn.week0 > div.suggestDate,
#divSuggestList div.dataColumn.week0 > div.values > div,
#divSuggestList div.dataColumn.holiday1 > div.suggestDate,
#divSuggestList div.dataColumn.holiday1 > div.values > div,
#divStockList div.dateItem div.week0,
#divStockList div.oilTypeData div.week0,
#divStockList div.oilTypeData div.week0 > div,
#divStockList div.dateItem div.holiday1,
#divStockList div.oilTypeData div.holiday1,
#divStockList div.oilTypeData div.holiday1 > div {
    color: #14171A;
    background-color: rgb(248,203,173) !important;
}
/* TIP表示 */
[data-tiptext] {
    position: relative;
    display: inline-block;
}

[data-tiptext]::after {
    position: absolute;
    transition: all 0.3s ease 0s;
    opacity: 0;
    top: 0px;/*HOVERのスタート位置*/
    left: 0px;
    display: block;
    padding: 0.2em 0.5em;
    content: attr(data-tiptext);
    //white-space: nowrap;
    color: #ffffff;
    border-radius: 6px;
    //background: #1b2538;
    background-color: RGBA(27, 37, 56, 0.8);
    font-size:0.8em;
    z-index:5;
    pointer-events:none;
    white-space:pre;
}
[data-tiptext]:hover::after {
    top: 24px; /*HOVER位置*/
    opacity: 1;
}
/* 完全に消す予定だが一旦非表示 */
#pnlWeightList {
    display:none;
}
/* ************************ */
/* ↓表見出し固定ここから↓ */
/* ************************ */
/* IEはposition sticky未対応なので固定されません */
#divStockList > .header {
    position: sticky;
    top: -10px;
    z-index: 3;
}

_:-ms-lang(x)::backdrop,
#divStockList > .header {
    top: 0px;
}

#divStockList > .header > .emptyBox {
    background-color:rgb(249,249,249);
}
#divSuggestList > .leftColumn {
    position:sticky;
    left:-10px;
    z-index:4;
}
#divSuggestList > .oilTypeColumn {
    position: sticky;
    left: 70px;
    z-index: 3;
}
_:-ms-lang(x)::backdrop,
#divSuggestList > .leftColumn {
    left: 0;
}
_:-ms-lang(x)::backdrop,
#divSuggestList > .oilTypeColumn {
    left: 80px;
}

/* ************************ */
/* ↑表見出し固定ここまで↑ */
/* ************************ */
