*, *::before, *::after {
    box-sizing: border-box;
}


.inline-radio {
    display: flex;
    border-radius: 0.1em;
    overflow: hidden;
    border: 0.0625em solid #000000;
}

.inline-radio div {
    position: relative;
    flex: 1;
}

.inline-radio input {
    height: 1.4em;
    width: 9.0em;
    opacity: 0;
}

.inline-radio label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 0.1em solid #b6b6b6;
}

.inline-radio div:last-child label {
    border-right: 0;
}

.inline-radio input:checked + label {
    background: #d81b60;
    font-weight: 500;
    color: #fff;
}
