.actionButtonBox {
    margin: 10px;
    margin-right:0px;
    padding-right:20px;
}
#pnlListArea div.empty:after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-image: url('../img/suitekiEmptyIcon.png');
}
#pnlListArea div.full:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-size: contain;
    background-image: url('../img/suitekiIcon.png');
}
.filterArea {
    padding-left:10px;
}
.grc0001Wrapper ul {
    width:900px
}
.grc0001Wrapper input[type=checkbox] + label {
    width: 250px
}

/* 一旦レスポンス用 画像のプリロード */
body:before {
    content: url(../img/leftbox.png) url(../img/calendar.png);
    display: none;
}
/* テキストボックス補正 */
input[type=text] {
    height: 1.6em;
    font-size: 13.5px;
    box-sizing: border-box;
    padding-top: 1px;
    padding-bottom: 1px;
}

.boxIconArea div, .calendarIconArea div {
    margin-top: calc(100% - 12.5px);
}
/* アイコン位置補正 */
/* Chromeのみアイコンがテキストボックスの中央に行かないので補正 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .calendarIconArea div, .boxIconArea div {
        margin-top: calc(100% - 12px);
    }
}
/* Edgeも通ってしまうので打ち消す */
_:-ms-lang(x)::backdrop, .calendarIconArea div, .boxIconArea div {
    margin-top: calc(100% - 12.5px);
}